<div ng-include="'private/private.header.html'" ng-controller="PrivateHeader"></div>

<div id="privatedocs-page">

	<div class="container">
	<table class="table table-bordered">
		<thead>
			<th>Name</th>
			<th>Size</th>
			<th>Download</th>
		</thead>
		<tbody>
			<tr ng-repeat="doc in docs">
				<td>{{doc.name}}</td>
				<td>{{doc.size | prettyBytes }}</td>
				<td><file-download auth-download url="{{baseUrlPrivate}}docs/{{doc.name}}" filename="{{doc.name}}"></file-download></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>