<div ng-include="'private/private.header.html'" ng-controller="PrivateHeader"></div>

<div id="privatevideo-page">

	<div class="container">
	<table class="table table-bordered">
		<thead>
			<th>Name</th>
			<th>Size</th>
			<th>Download</th>
		</thead>
		<tbody>
			<tr ng-repeat="video in videos">
				<td>{{video.name}}</td>
				<td>{{video.size | prettyBytes }}</td>
				<td><file-download auth-download url="{{baseUrlPrivate}}video/{{video.name}}" filename="{{video.name}}"></file-download></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>