<div id="private-header">
	<nav class="navbar navbar-default">
		<div class="container">
		    <ul class="nav navbar-nav">
		        <li><a ng-class="{'active': isActive('/private/docs')}" href="/#!/private/docs">Documents</a></li>
		        <li><a ng-class="{'active': isActive('/private/video')}" href="/#!/private/video">Video</a></li>
		    </ul>
		</div>
	</nav>
</div>