// bower:scss
// endbower

@import 'vars';

#admin-slideshow-page{
	padding-top: 50px;


	button{
		border-radius: 0px;
	}
	.admin-lang{
		margin-left: -5px;
		display: inline-block;
		button{
			border-radius: 0px;
		}
		a{
			font-family: 'Helvetica';
			font-size: 14px;
		}
	}

	table{
		margin-top: 0px;

		thead tr th{
			text-align: left;
			font-size: 16px;
			padding-left: 20px;
		}

		td.sort-cell{
			z-index: 999;
			padding: 10px 20px;
			text-align: center;
			i{
				display: block;
			}
			i:hover{
				cursor: pointer;
			}
			.glyphicon-chevron-down{
				margin-left: -3px;
			}
		}

		tbody > tr > td, td.editable{
			position: relative;
			font-size: 16px;
			color: #555;
			padding-left: 20px;
			z-index: -1;

			.image-box{
				width: 250px;
				height: 250px;
				overflow: hidden;
				position: absolute;
				top: 0px;
				top: -260px;
				left: -200px;
				background-color: #333;
				background-color: #ddd;
				border-radius: 3px;
				box-shadow: 0px 0px 10px #777;
				opacity: 0;
				transition: opacity 0s;

				img{
					max-width: 100%;
					max-height: 100%;
					transform: translate(-50%,-50%);
					margin-top: 50%;
					margin-left: 50%;
				}
			}
			&.image-column:hover, &.editable:hover
			{
				cursor: pointer;
				z-index: 0;
			}
			&.active:hover{
				z-index: 0;
				.image-box{

					opacity: 1;
					transition: opacity 0.5s;
				}
			}
			i.glyphicon-picture{
				opacity: 0.5;
			}
			&.active i.glyphicon-picture{
				opacity: 1;
			}
		}

		td.icon-column{
			width: 50px;
		}

		td.disabled{
			opacity: 0.4;
		}

	}
}