// bower:scss
// endbower

@import 'vars';

#catalogue-page{
	padding-top: 50px;

	#catalogue-list{
		margin-left: 240px;
	}

	@media (max-width: 767px){
		#catalogue-list{
			width: 100%;
			margin-left: 0px;


		}
	}
}