// bower:scss
// endbower

@import 'vars';


#types{
	padding-top: 15px;
}

#category{
	padding-top: 15px;

	.products-list{
	    width: calc(100% - 250px);
	}

	figure img{
		max-width: 100%;
	}


	@media (max-width:767px){
		h1{
			font-size: 20px;
		}
		.products-list{
			width: auto;
		}
	}
	
}