// bower:scss
// endbower

@import 'vars';

#certificates-page{
	padding-top: 50px;

	#certificates-list{
		margin-left: 240px;
	}

	@media (max-width: 767px){

		#certificates-list{
			margin-left: 0px;
		}

	}
}