// bower:scss
// endbower

@import 'vars';

#contacts-page{

	.map{
		// width: 800px;
		width: 396px;
		float: right;
		margin-left: 30px;
		// margin-left: 200px;
		// margin-right: 200px;
		// width: 800px;
	}
	.map.map-de{
		width: 396px;
		margin-left: 10px;
		margin-right: 0px;
	}

	padding-top: 50px;

	.contact-data{
		position: relative;
	}

	.address-de,.phone-de{
		margin-bottom: -25px;
	}
	.address-de{
		// margin-bottom: -25px;

		span.value{
			width: 243px !important;
		}
	}

	.map-description.aek-logo{
		padding: 0px;
		height: 90px;
		position: absolute;
		top: 470px;
		left: 80px;
		width: auto;
		height: auto;
		background-color: transparent;
		position: static;
		float: left;
		width: 100px;
		margin-top: 64px;
		img{
			height: 100%;
			  width: 157px;
		}
	}
	.map-description.en{
		margin-top: 0px;
	}
	.map-description{
		margin-top: 40px;
		margin-right: 0px;
		margin-left: 20px;
		width: 298px;

		span{
			display: inline-block;
			// width: 100px;
		}
		span.value{
			display: inline-block;
			width: 170px;
			// width: 215px;
			a{
				font-size: 17px;
				font-weight: 500;
			}
			a:hover{
				color: black;
				text-decoration: none;
			}
		}
	}


	@media (max-width: 767px){
		.map{
			width: 100%;
			margin-left: 0px;
			height: 350px;
		}
		.map.map-de{
			height: 200px;
		}
		.map-description{
			width: 100%;
			margin-bottom: 0px;
			margin-top: 10px;
			&:last-child{
				margin-bottom: 40px;
			}
			&.phone{
				margin-top: 40px;
			}			
		}
		#vision-page{
			padding-left: 10px;
			padding-right: 10px;

			img{
				margin-bottom: 30px;
			}
		}
		.aek-logo{
			float: right !important;
			right: 0px;
			margin-right: 59px;
		}
	}

}

.gm-style-iw{
	overflow: hidden;
	> div{
		overflow: hidden !important;
	}
	li{
		list-style-type: none;
	}
}