// bower:scss
// endbower

@import 'vars';

#footer{
    display: block;
    clear: both;
    float: none;
    position: relative;
}
footer {
    float:left;
    width:100%;
    height:67px;
    z-index:999;
    margin-top: -32px;
    position: relative;
    height: 167px;
    overflow: hidden;

    .footer-block{
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;
        font-family: 'Helvetica';
        width: auto;
        padding-right: 20px;
        border-right: 1px solid #e8e8e8;
        margin-right: 40px;
        min-width: 100px;
        padding-left: 12px;

        img.logo{
            margin-top: 5px;
            width: 60px;
        }

        &:last-child{
            border-right: 0px;
        }

        &.footer-socials {
            padding-top: 20px;
            opacity: 0.8;
            border-right: 0px;
            > *{
                display: inline-block;
            }

            > .credits-legal{
                display: block;
                margin-top: 10px;
                font-size: 14px;
                font-family: 'Helvetica';

                a{
                    font-family: 'Helvetica';
                    font-weight: 700;
                    text-decoration: none;
                    color: #464646;
                    margin-right: 10px;

                    &:hover{
                        text-decoration: none;
                        color: black;
                        cursor: pointer;
                    }
                }
            }

            img{
                width: 26px;
                margin-right: 6px;
            }
            a:first-child img{
                margin-right: 0px;
            }
        }

        h4,h5{
            font-family: 'Helvetica';
        }

        h5{
            font-family: 'Helvetica';
            font-size: 14px;
            line-height: 19px;
            color: #555;
            margin-bottom: 0px;
        }

        h4{
            margin-top: 0px;
            margin-left: 0px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        img{
            width: 45px;
            margin: auto;
            margin-left: -4px;
        }

        > *{
            display: block;
            float: none;
        }
    }

    #footer-content{
        position: absolute;
        bottom: 0px;
        // background: $header-grey;
        background: transparent;
        width: 100%;
        height: 100px;
    }

    #socials a{
        margin-left: 5px;
    }

    .test-box{
        background-color: #dfe0e1;
        width: 1300px;
        height: 200px;
        -webkit-transform: rotate(-19deg);
        transform: rotate(-19deg);
        position: fixed;
        bottom: -211px;
        right: -178px;
        position: absolute;
    }

}

@media (max-width: 767px){

    footer{
        float: none;
        display: block;
        padding-top: 1px;
        height: auto;
        padding-bottom: 10px;
    }
    footer #copyright{
        margin-top: 25px;
    }
    footer h5.left{
        float: none;
        width: 100%;
        margin-left: 0px;
        text-align: center;
        float: none;
        margin-bottom: 0px;
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    footer .addthis_toolbox{
        padding-top: 10px;
        float: none;
    }
    footer #socials{
        float: none;
        text-align: center;
    }
    footer #socials a{
        float: none;
    }

    #footer{
        display: block;
        #bottom{
            margin-top: 0px;
            display: block;
            float: none;

            .test-box{
                display: none;
            }

            #footer-content{
                position: static;
                height: auto;

                .footer-block{
                    padding-left: 10px;
                    margin-right: 0px;
                    padding-right: 10px;
                }
                .footer-socials{
                    text-align: center;
                    margin-left: 20px;
                }

            }
        }
    }

}