// bower:scss
// endbower

@import 'vars';

header a[href]:hover {
    color:#00b3eb;
}
header {
    float:left;
    width:100%;
    height:60px;
    z-index:999;
    margin-bottom:15px;
    float: none;
}

#header{
    .mobile-button{
        display: none;
    }

    .submenu{
        display: none;
        position: absolute;
        background: white;
        left: 100%;
        width: 200px;
        top: -5px;
        box-shadow: 0px 0px 1px #777;
    }
    .submenucat{
        padding: 3px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Josefin Sans';
        font-size: 14px;
        height: 26px;
        line-height: 23px;    
        width: 100%;
        display: block;
        font-weight: 500;

        &:hover{
            background: #f5f5f5;
            text-decoration: none;
            color: inherit;
        }    
    }
    .menucat{
        position: relative;

        &:hover .submenu{
            display: block;
        }
    }

    nav.navbar{
    	height: 60px;
        margin-bottom: 0px;
    	background-color: $header-grey;
    	.container{
    		padding-left: 15px;
    		padding-right: 15px;		
    	}
    	.navbar-brand{
    		padding-top: 10px;
    		padding-bottom: 5px;
    	}
    	.navbar-brand img{
    		width: 40px;
    	}
    	ul.navbar-nav{
    		margin-left: 35px;

            li:hover{
                cursor: pointer;
            }

    		> li > a{
    			padding-top: 17px;
    			padding-bottom: 1px;
    			line-height: 40px;
    			color: #464646;
    			font-size: 15px;
    			text-transform: uppercase;

    			&:hover{
    				color: $main-color;
    			}
    		}
    	}
    	ul.language-selector{
    		margin-top: 25px;
    		> li{
    			display: inline-block;
    			margin-left: 3px;
    			margin-right: 3px;
    			font-size: 15px;
    			text-transform: uppercase;
    			color: #999;
    			font-weight: bold;
    			font-family: 'Josefin Sans', sans-serif;
    		}
    		> li.active{
    			color: #464646;
    		}
    		> li:hover{
    			color: $main-color;
    			cursor: pointer;
    		}
    	}
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #header{
        nav.navbar ul.navbar-nav{
            margin-left: 0px;

            > li > a{
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 767px){

    #header{
        .collapsable-menu{
            max-height: 0px;
            overflow: hidden;
            position: absolute;
            top: 60px;
            background: $header-grey;
            text-align: center;
            transition: max-height 0.5s;
            width: 100%;
            z-index: 100;
            border-bottom: 1px solid #aaa;
        }
        .collapsable-menu.active{
            max-height: 400px;
        }
        .collapsable-menu #lang{
            float: none;
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid #aaa;
        }
        .collapsable-menu #lang a{
            margin-left: 10px;
            margin-right: 10px;
            font-size: 18px;
        }
        .collapsable-menu #main{
            float: none;
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
        }

        .mobile-button{
            display: block;
        }
        .mobile-button button{
            position: relative;
            float: right;
            padding: 9px 10px;
            margin-top: 8px;
            margin-right: 15px;
            margin-bottom: 8px;
            background-color: #eee;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            border-color: #ddd;
            margin-top: 14px;
            margin-right: 25px;
        }
        .mobile-button button .icon-bar{
            background-color: #888;
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
        }
        .mobile-button button .icon-bar + .icon-bar{
            margin-top: 4px;
        }

        .navbar-collapse{
            position: relative;
            background: $header-grey;
            z-index: 9999;
            border-bottom: 1px solid black;

            .language-selector{
                margin: auto;
                width: 100%;
                text-align: center;
                /* margin-bottom: 10px; */
                margin-top: 10px;
            }
            .language-selector.pull-right {
                float: none !important;
            }
            .header-socials{
                margin-top: 10px;
                text-align: center;
                margin-right: 50px;
                > a{
                    display: inline-block;
                    padding: 5px;

                    img{
                        width: 25px;
                    }
                }
            }

            ul.navbar-nav > li{
                > a.dropdown-toggle{
                    width: 37%;
                    display: inline-block;
                    vertical-align: top;
                    padding-top: 0px;
                }
                .dropdown-menu{
                    position: static;
                    display: inline-block;
                    float: none;
                    width: 100px;
                    overflow: hidden;
                    background: transparent;
                    box-shadow: none;
                    border: none;
                }
                &.product-menu{
                    ul{
                        display: none;
                    }
                }
            }
        }
    }

}