// bower:scss
// endbower


// ADD ME!!!!!!!!!
// #view.ng-leave.ng-leave-active{
//     opacity: 0;
// }
// #view.ng-leave{
//     transition: opacity 0.1s;
// }
// #view.ng-enter.ng-enter-active{
//     opacity: 1;
// }
// #view.ng-enter{
//     opacity: 0;
//     transition: $transition-slow linear all;
// }


@import 'vars';

    
    @keyframes opacityArrowAnimation{
        from {opacity: 0;width: 135px;}
        to {opacity: 1;width: 135px;}
    }
    @keyframes opacityArrowAnimationPhone{
        from {opacity: 0;width: 109px;}
        to {opacity: 1;width: 109px;}
    }
    @keyframes opacityAnimation{
        from {opacity: 0; width: inherit;}
        to {opacity: 1; width: inherit;}
    }
    @keyframes circleoneAnimation{
        from {opacity: 0; width: 0px; height: 0px; background-color: transparent;}
        to {opacity: 1; width: 126px; height: 126px; background-color: transparent;}
    }
    @keyframes circletwoAnimation{
        from {opacity: 0; width: 0px; height: 0px; background-color: transparent;}
        to {opacity: 1; width: 310px; height: 310px; background-color: transparent;}
    }
    @keyframes circlethreeAnimation{
        from {opacity: 0; width: 0px; height: 0px; background-color: transparent;}
        to {opacity: 1; width: 496px; height: 496px; background-color: transparent;}
    }
    @keyframes zeroOpacityAnimation{
        from{opacity: 0;}
        to{opacity: 0;}
    }

    #home{


        &.animated{
            .logo-container img.logo{
                animation: zeroOpacityAnimation 3.002*$home-animation-step, opacityAnimation 1*$home-animation-step 3.002*$home-animation-step;;                 
            }
            .arrow{
                animation: opacityArrowAnimation $home-animation-step 4.001*$home-animation-step, zeroOpacityAnimation 4.001*$home-animation-step;
            }
            div.circle1{
                animation: circleoneAnimation 1*$home-animation-step;
            }
            div.circle2{
                animation: circletwoAnimation $home-animation-step 1*$home-animation-step, zeroOpacityAnimation 1*$home-animation-step;
            }
            div.circle3{
                animation: circlethreeAnimation $home-animation-step 2*$home-animation-step, zeroOpacityAnimation 2*$home-animation-step;
            }
            div.circle1-text{
                animation: opacityAnimation $home-animation-step;
            }
            div.circle2-text{
                animation: zeroOpacityAnimation 1.5001*$home-animation-step, opacityAnimation 0.5*$home-animation-step 1.5001*$home-animation-step;
            }
            div.circle3-text{
                animation: zeroOpacityAnimation 2.7001*$home-animation-step, opacityAnimation 0.3*$home-animation-step 2.7001*$home-animation-step;
            }
        }


        padding-top: 15px;

        #home-animation{
            width: 100%;
            height: 100%;
            position: relative;
            margin-top: -65px;

            .logo-container{
                width: 65px;
                bottom: 5px;
                left: 50%;
                margin-left: -32px;
                position: absolute;
                img.logo{
                    position: static;
                    opacity: 1;
                    float: none;
                    margin: 0px;
                    top: 0px;
                    left: 0px;
                    transform: none;  

                }
            }

            .white-gradient{
                width: 100%;
                position: absolute;
                bottom: -65px;
                height: 145px;
                background: rgba(255,255,255,0.05);
                background: -moz-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(249,249,249,0.79) 32%, rgba(246,246,246,0.85) 47%, rgba(253,253,253,1) 86%, rgba(255,255,255,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.05)), color-stop(32%, rgba(249,249,249,0.79)), color-stop(47%, rgba(246,246,246,0.85)), color-stop(86%, rgba(253,253,253,1)), color-stop(100%, rgba(255,255,255,1)));
                background: -webkit-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(249,249,249,0.79) 32%, rgba(246,246,246,0.85) 47%, rgba(253,253,253,1) 86%, rgba(255,255,255,1) 100%);
                background: -o-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(249,249,249,0.79) 32%, rgba(246,246,246,0.85) 47%, rgba(253,253,253,1) 86%, rgba(255,255,255,1) 100%);
                background: -ms-linear-gradient(top, rgba(255,255,255,0.05) 0%, rgba(249,249,249,0.79) 32%, rgba(246,246,246,0.85) 47%, rgba(253,253,253,1) 86%, rgba(255,255,255,1) 100%);
                background: linear-gradient(to bottom, rgba(255,255,255,0.05) 0%, rgba(249,249,249,0.79) 32%, rgba(246,246,246,0.85) 47%, rgba(253,253,253,1) 86%, rgba(255,255,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
            }

            .arrow{
                position: absolute;
                width: 135px;
                // height: 135px;
                bottom: 148px;
                right: 53px;
                opacity: 1;
            }

            li{
                list-style-type: none;
                line-height: 13px;
                span{
                    font-size: 12px;
                    font-weight: bold;
                    &.blue{
                        color: $main-color;
                    }
                }
                strong{
                    font-size: 25px;
                    display: block;
                    margin-bottom: 8px;
                }
            }
            div.circle-text{
                text-align: center;
                text-transform: uppercase;
                font-family:'Josefin Sans', sans-serif;
                position: absolute;
                left: 50%;
                transform: translate(-50%,50%);
            }
            div.circle{
                bottom: 141px;
                left: 50%;
                transform: translate(-50%,50%);
                position: absolute;
                opacity: 1;
                border-radius: 100%;
                border: 2px solid #111;
            }
            div.circle1{
                width: 126px;
                height: 126px;
            }
            div.circle2{
                width: 310px;
                height: 310px;
            }
            div.circle3{
                width: 490px;
                height: 490px;
            }

            div.circle1-text{
                width: 120px;
                bottom: 134px;
            } 
            div.circle2-text{
                width: 245px;
                bottom: 238px;
            } 
            div.circle3-text{
                width: 245px;
                bottom: 335px;
            } 
        }



        .photo-container{
            float: none;
            height: 486px;

            width: 100%;
            width: 993px;
            // margin-left: 15px;
            // margin-right: 15px;

            .sector{
                position: relative;
                background: white;
                border: 1px solid $header_grey;
                transition: border 0.2s;

                &.sector-left{
                    border-right-width: 0px;
                    border-right-color: $header_grey;
                    overflow: hidden;
                    border: 0px;
                }
                &.sector-left:hover{
                    border: 0px;
                }
                &.sector-topright{
                    border-bottom-width: 0px;
                    & img:hover{
                        cursor: pointer;
                    }
                }
                &.sector-bottomright > div:hover{
                    cursor: pointer;
                }
                &:hover{
                    border: 3px solid $header_grey;
                }

                img.animation-static, .sector-picture{
                    position: absolute;
                    opacity: 0;
                    transition: opacity 0.5s;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    
                    text-align: center;

                    img{
                        width: 100%;
                        max-width: 100%;
                        max-height: 100%;
                        height: 242px;
                        width: auto;

                    }
                }
                img.active, .sector-picture.active, .sector-picture.active img{
                    opacity: 1;
                    z-index: 999;
                }
                .slideshow-text{
                    position: absolute;
                    // top: 20px;
                    // left: 20px;
                    opacity: 0;
                    transition: opacity 0.5s;
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%,-50%);
                    // max-width: 100%;
                    // max-height: 100%;
                    width: 100%;
                    height: 100%;

                    > a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 20px;
                        &:hover{
                            text-decoration: none;
                            color: black;
                        }
                    }
                    &.active{
                        z-index: 999;  
                    }
                }
                .slideshow-text.active{
                    opacity: 1;
                }
            }
        }

        .reclamo{
            blockquote{
                margin-bottom: 0px;
                width: 100%;
                margin-left: 0px;
                h5{
                    font-size: 22px;
                    line-height: 67px;
                    height: auto;
                    color: #eee;
                    text-align: center;

                    strong{
                        font-size: 32px;
                        margin-right: 5px;
                    }
                }
            }
        }

        .safe {
            background-color: #4489be;

            blockquote{
                margin-bottom: 0px;
                width: 100%;
                margin-left: 0px;
                h5{
                    font-size: 22px;
                    line-height: 75px;
                    height: auto;
                    color: #eee;
                    text-align: center;

                    strong{
                        font-size: 32px;
                        margin-right: 5px;
                    }
                }
            }
        }

        .twitter{
            padding-top: 15px;
            .icon{
                margin-top: 14px;
            }
            .tweet{
                width: 403px;
                position: relative;
            }
            a{
                color: white;
                text-decoration: none;
            }
            a.twit-text{
                position: absolute;
                top: 23px;
                left: 0px;
                opacity: 0;
                transition: opacity 0.5s;

                &.active{
                    opacity: 1;
                    z-index: 999;
                }
            }
            h5{
                line-height: 18px;
                overflow: visible;
                font-size: 16px;
            }
            h3{
                font-size: 20px;
                font-weight: bold;
            }
        }

        #home-bottom-links{
            article{
                position: relative;
            }
            .play-button{
                background-image: url('/content/images/home_buttons/button_video_normal.jpg')
            }
            .download-button{
                background-image: url('/content/images/home_buttons/button_download_normal.jpg')
            }
            .contacts-button{
                background-image: url('/content/images/home_buttons/button_contacts_normal.jpg')
            }
            h1{
                font-size: 28px;
                font-weight: 500;
                margin-top: 7px;
                margin-top: 117px;
                position: relative;
                z-index: 1;
            }
            img{
                width: 80px;
                margin-top: 25px;
                transition: width 0.3s;
                z-index: 1;

                position: absolute;
                left: 50%;
                top: 44%;
                margin-top: 0px;
                transform: translate(-50%,-50%);
            }
            .bg-overlay{
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.4);
                transition: background-color 0.5s;
                z-index: 0;
            }
            article:hover .bg-overlay{
                background: rgba(0,0,0,0.1);
            }
            article:hover img{
                width: 90px;
            }
        }



        // MOBILE
        @media (max-width: 767px){
            article.quote{
                blockquote{
                    h5{
                        font-size: 18px;
                        line-height: 27px;
                        strong{
                            font-size: 24px;
                        }
                    }
                }
            }

            .photo-container{
                width: 94%;
                height: 915px;

                .sector-left{
                    height: 440px;
                    // height: 350px;
                    float: none;
                }
                .sector-bottomright, .sector-topright{
                    float: none;
                    width: 100%;
                    height: 250px;
                }
                #home-animation{
                    margin-top: -40px;
                }
                .sector-bottomright{
                    padding-left: 0px;
                    height: 225px;
                }
                .slideshow-text.active{
                    left: 5px;
                    line-height: 9px;
                    h5{
                        line-height: 18px;
                        font-size: 16px;
                    }
                }


            }
            article.twitter{
                height: 175px;
            }
            #home-bottom-links{
                > a{
                    display: block;
                    float: none;
                }
            }

            #home-animation .arrow{
                width: 109px;
                bottom: 145px;
                right: 3px;

                animation: opacityArrowAnimationPhone $home-animation-step 4.001*$home-animation-step, zeroOpacityAnimation 4.001*$home-animation-step;
            }
        }


    }

    // #testdiv {
    //     background-color: red;
    // }
    // .away {
    //     opacity: 0;
    // }
    // .fadeOut {
    //     animation: fade 1s;
    //     -webkit-animation: fadeOut 1s;
    // }
    // @keyframes fadeOut {
    //     from {
    //         opacity: 1;
    //     }
    //     to {
    //         opacity: 0;
    //     }
    // }
    // @-webkit-keyframes fadeOut {
    //     from {
    //         opacity: 1;
    //     }
    //     to {
    //         opacity: 0;
    //     }
    // }
    // .fadeIn {
    //     animation: fade 1s;
    //     -webkit-animation: fadeIn 1s;
    // }
    // @keyframes fadeIn {
    //     from {
    //         opacity: 0;
    //     }
    //     to {
    //         opacity: 1;
    //     }
    // }
    // @-webkit-keyframes fadeIn {
    //     from {
    //         opacity: 0;
    //     }
    //     to {
    //         opacity: 1;
    //     }
    // }
