// bower:scss
// endbower

@import 'vars';


#info-modal{
	.modal-body{
		height: 400px;
		overflow-y: auto;
		p{
			font-family: 'Helvetica';
			font-size: 16px;
			margin-bottom: 10px;
		}
		strong{
			display: block;
		}
	}
}