// bower:scss
// endbower

@import 'vars';

#login-page{
	padding-top: 50px;

	h1{
		font-size: 25px;
		// text-transform: uppercase;
		margin-bottom: 20px;
	}
	form{
		text-align: left;

		button{
			margin-top: 30px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.register-action{
		text-align: center;
		margin-top: 20px;
		font-size: 16px;

		a{
			font-family: 'Helvetica';
			font-weight: normal;
			color: $main-color;
		}
	}
}