// bower:scss
// endbower

@import 'vars';


@charset"UTF-8";



@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700);



//CATALOGUES AN CERTIFICATES
.catalogue{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;

    img{
        width: 100%;
        height: auto;
    }
    .icon-overlay{
        position: absolute;
        top: 0px;
        width: 230px;
        height: 210px;
        background-color: rgba(255, 255, 255, 0.3);
        width: 100%;
        left: 0px;
        height: 100%;
    }
    i{
        margin-top: 50%;
        font-size: 35px;
        transform: translate(0%, -50%);
        text-shadow: 0px 0px 50px white;
        left: 0px;
        // top: -17px;
        text-align: left;
    }

    &:hover{
        i{
            font-size: 40px;
            color: black;
        }
        .icon-overlay {
            background-color: transparent;
            background-color: rgba(255,255,255,0);
        }
    }
}



//PHONE MODE
@media (max-width: 767px){
    .catalogue{
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        border: 1px solid #999;
    }
}



@media (min-width: 1200px){
	.container{
		width: 1023px;
	}
}
.map, .map-container {
          height: 450px;
          
}
.map{
    float: left;
    margin-left: 83px;
    width: 730px;
}

/*COMMON CSS STYLE*/
html {
    -webkit-font-smoothing: antialiased;
}
html,body{
    height: 100%;
}
#view{
    min-height: calc(100% - 130px);
}
/*TEXT*/
 .incolor {
    color:#01d3c9;
}
h1 {
    font-size: 1.75em;
    /*28px*/
    font-family:'Josefin Sans', sans-serif;
    font-weight: bold;
}
h2 {
    font-size: 1.7em;
    /*24px*/
    font-family:'Josefin Sans', sans-serif;
    line-height:1.5;
}
h3 {
    font-size: 1.5em;
    /*19px*/
    font-family:'Josefin Sans', sans-serif;
}
p {
    font-size: 1.2em;
    /*16px*/
    font-family:'Josefin Sans', sans-serif;
    line-height:1.4em;
}
label {
    font-size: 1em;
    /*16px*/
    font-family:'Josefin Sans', sans-serif;
    line-height:1.4em;
}
b {
    font-size: 1.2em;
    /*16px*/
    font-family:'Josefin Sans', sans-serif;
    font-weight:700;
}
h5 {
    font-size: .87em;
    /*14px*/
    font-family:'Josefin Sans', sans-serif;
    line-height:1.25em;
    font-weight:normal;
}
h6 {
    font-size: .75em;
    /*12px*/
    font-family:'Josefin Sans', sans-serif;
    line-height:1.4em;
    font-weight:normal;
}
/*LINK*/
 a {
    color:#464646;
    text-decoration:none;
    font-weight:bold;
    font-family:'Josefin Sans', sans-serif;
}
.current {
    border-top:solid 4px #000;
    // !important
}
a[href]:hover {
    // color:#767676;
}
/*COLORS*/
 .color_1 {
    color:#01d3c9;
}
.color_2 {
    color:#009be1;
}
.color_1_bg {
    background-color:#e1e1e1;
}
.color_2_bg {
    background-color:#009be1;
}
.linkedin {
    background-color:#13377a;
}
.twitter {
    background-color:#55acee;
    /*background-color:#9ae4e8;*/
}
body {
    margin:0;
    padding:0;
    color:#464646;
    font-size: 1.2em;
    height: 100%;
}
section {
    width:100%;
    margin:auto;
    max-width:1023px;
    position:relative;
}
article {
    float:left;
    padding:15px;
}
.side {
    float:left;
    width:210px;
    height: 100%;
    margin-bottom: 20px;
}
figure {
    border: 1px solid $header_grey;
    transition: border 0.2s;
    background-color: white;
}
figure:hover{
    border: 3px solid $header_grey;
}
figure img {
    width: auto;
    height: 100%;
}
.left {
    float:left;
    margin-left:15px;
    margin-bottom:15px;
    text-align: left;
}
.right {
    float:right;
    margin-right:15px;
    margin-bottom:15px;
}
.one {
    width:27px;
}
.two {
    width:69px;
}
.three {
    width:111px;
}
.four {
    width:153px;
}
.five {
    width:195px;
}
.six {
    width:237px;
}
.seven {
    width:279px;
}
.eight {
    width:321px;
}
.nine {
    width:363px;
}
.ten {
    width:405px;
}
.eleven {
    width:447px;
}
.twelve {
    width:489px;
}
.thirteen {
    width:531px;
}
.fourteen {
    width:573px;
}
.fifteen {
    width:615px;
}
.sixteen {
    width:657px;
}
.seventeen {
    width:699px;
}
.eighteen {
    width:741px;
}
.nineteen {
    width:783px;
}
.twenty {
    width:825px;
}
.twone {
    width:867px;
}
.twtwo {
    width:909px;
}
.twthree {
    width:951px;
}
.twfour {
    width:993px;
}
#logo {
    margin-top:10px;
}
#lang {
    margin-top:24px;
}
#lang a {
    width:25%;
    /*float:left;*/
    text-align:center;
    color: #999;
    font-size: 15px;
}
#lang a.active{
    color: #464646;
}
#lang a:hover{
    color: #00b3eb;
}
#main {
    margin-top:24px;
}
#main a {
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    margin-top:30px;
    margin-bottom:30px;

}
#socials {
    margin-top: 18px;
}
#socials a {
    float:left;
    text-align:right;
}
#copyright {
    margin-top:28px;
}
.quotation {
    color:#FFF;
    height:96px;
}
.icon {
    width:40px;
    float:left;
    text-align:center;
}
.quotation h3 {
    margin-bottom:5px;
}
.quotation h5 {
    height:20px;
    overflow:hidden;
}
.series {
    text-align:center;
    background-color:#e1e1e1;
}
.button {
    color:#FFF;
    text-align:center;
    background-color:#e1e1e1;
}
.button:hover {
    background-color:#009be1;
}
/* MAPPA */
 .address {
    color:#464646;
    text-align:right;
    background-color:#e1e1e1;
}
/* PRODOTTI */
 .prodotti {
    padding:0;
    color:#464646;
    text-align:center;
}
.prodotti figure {
    height:111px;
}
.prodotti h5 {
    padding:10px;
    min-height: 60px;
}
/* CATALOGHI */
 .catalogo {
    padding:0;
    color:#464646;
    height: 310px;
    text-align:center;
}
.catalogo figure {
    height:237px;
}
.catalogo h5 {
    padding:15px;
}
/* SERVIZI */
 .servizi {
    padding:0;
    color:#FFF;
    text-align:center;
    position:relative;
}
.servizi figure {
    height:108px;
}
.servizi h2 {
    left:20px;
    bottom:10px;
    position:absolute;
    color: white;
}
.servizi h2:hover {
    color: #eee;
}
/* GALLERY HOMEPAGE */
 .container {
    padding: 0;
    // height: 486px;
}
.sector-left {
    border: 1px solid #B5B5B5;
    border-right: 0;
    height: 100%;
    margin: 0;
    width: 50%
}
.sector-left img {
    display:block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.sector-topright {
    border: 1px solid #B5B5B5;
    border-bottom: 0;
    height: 50%;
    margin-left: 391px;
    width: 50%;
    margin: 0;
}
.sector-bottomright {
    border: 1px solid #B5B5B5;
    height: 50%;
    margin-left: 391px;
    width: 50%;
    margin: 0;
    // padding: 10px;
}
.addthis_toolbox {
    padding-top: 26px;
    float: left;
	width: 360px;
	margin-left: 70px;
}
table.input {
    width: 100%;
    margin-top: 15px;
}
table.input tr td:first-child {
    text-align: right;
    width: 50%;
    padding-right: 10px;
    vertical-align: top;
}
table.input td {
    padding-top: 20px;
}
table.input td.btn {
    text-align: center !important;
}
td.btn input {
    width: 100px;
}
table.data {
    width: 95%;
    margin: 15px;
    border-collapse: collapse;
    font-size: 15px;
}
table.data td {
    border: 1px solid #464646;
    vertical-align: middle;
    padding: 10px;
}
table.data td.clickable img {
    height: 20px;
    width: auto;
    cursor: pointer;
}
table.data td.clickable {
    text-align: center;
    padding-left: 0;
}
table.data th {
    border: 1px solid #464646;
    padding: 10px;
}
textarea {
    width: 300px;
    height: 150px;
    resize: none;
}

ul{
	margin-left: 20px;
    margin-top: 20px;
}

.false-link:hover {
    color: #FFF;
    cursor: pointer;
}

#home-bottom-links > a > article{
    height: 188px;
}

.mobile-button{
    display: none;
}



@media (max-width: 767px){

    .mission{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #eee;
    }


    #main a{
        display:block;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #home article{
        width: 94%;
        float: none;
        margin-left: 3%;
        margin-right: 3%;
        overflow: hidden;
    }
    #home article.linkedin, #home article.twitter{
        height: 110px;
        margin-bottom: 5px;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0px;
    }
    #home article.linkedin .link, #home article.twitter .link{
        float: none;
        width: 100%;
    }
    #home article.linkedin .icon, #home article.twitter .icon{
        margin-right: 10px;
    }
    #home-bottom-links article{
        background-color: #ddd;
    }
    #home-bottom-links{
        margin-top: 25px;
        margin-top: 25px;
        font-size: 14px;
    }


    #home .photo-container .sector-left{
        width: 100%;
        height: 50%;
    }
    #home .photo-container .sector-bottomright{
        padding-top: 30px;
    }


    #categories .side, #types .side, #products .side{
        float: none;
        display: none;
    }
    #categories .side article{
        float: none;
        display: none;
    }
    #categories article, #types article, #proucts article{
        float: none;
    }

    #types .catalogo img{
        margin-right: 10px;
        width: 100%;
        height: auto;
    }
    #types .catalogo{
        width: 50%;
        margin-left: 0px;
        overflow: hidden;
        float: left;
        padding-left: 3px;
        padding-right: 3px;
        height: 280px;

    }
    #types{
        margin-bottom: 50px;
        margin-top: 50px;
    }
    #products{
        padding-top: 30px;
    }
    #products .products-list{
        width: 100% !important;
        margin-left: 0px;
    }
    #products .products-list .subtype{
        margin-left: 0px;
        width: 100%;
    }
    #products .prodotti{
        margin-left: 0px;
        margin-right: 0px;
        width: 50%;
        padding-left: 3px;
        padding-right: 3px;
    }


    .row{
        display: block;
        clear: both;
    }

}