// bower:scss
// endbower

@import 'vars';

#privatedocs-page, #privatevideo-page{
	padding-top: 50px;

	@media (max-width: 767px){
		&{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}


#private-header{
	nav{
		background: mix($header-grey,#fff,50%);
	}
	.container{
		text-align: center;
		height: 57px;
	}
	ul.navbar-nav{
		margin: auto;
		float: none;
		text-align: center;
		display: inline-block;
		border-left: 1px solid #ddd;

		li{
			border-right: 1px solid #ddd;
		}

		a{
			font-family: 'Helvetica';
			font-size: 16px;
			line-height: 20px;
			padding-top: 22px;
		}
		a.active{
			background: mix($header-grey,#fff,70%);
		}
	}

	@media (max-width: 767px){
		ul.navbar-nav{
			li{
				float: left;
			}
		}
	}
}
