// bower:scss
// endbower

@import 'vars';

#product{
	padding-top: 15px;

	#product-content{
		margin-left: 240px;
		margin-top: 10px;
		color: #444;

		img{
			margin-top: 20px;
			max-width: 350px;
			// max-height: 350px;
			float: left;	
			margin-bottom: 30px;
			margin-right: 30px;
			width: 250px;
			

		}
		.pdf{
			display: inline-block;
			display: none;
			width: 200px;
			margin-right: 20px;
			&:hover{
				text-decoration: none;
				color: black;
				i{
					font-size: 21px;
				}
			}
		}
		.product-image-container{
			// width: 200px;
			position: relative;
			img{
				display: block;
				float: none;
				width: 100%;
				margin-bottom: 5px;
				opacity: 0.7;
				&:hover{
					opacity: 1;
				}
			}
			i{
				z-index: 999;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
		span.pdf-name{
			color: #464646;
			font-weight: 500;
			font-size: 17px;
			text-align: center;
		}
		.product-description{
			margin-top: 50px;
			display: block;
			margin-bottom: 20px;
			font-size: 18px;
			text-align: justify;
			text-align: justify;
			line-height: 20px;
			color: #555;
		}
		.pdf-list{
			display: none;
			color: $link-color;
		}
		.video-container{
			text-align: center;
			iframe{
				text-align: left;
				margin-left: 180px;
				margin-left: -100px;
				margin-top: 20px;
				margin-top: 0px;
			}
		}
	}

	@media (min-width: 768px) and (max-width: 991px){
		#product-content img{
			max-width: 200px;
			margin-right: 10px;
		}
		#product-content .product-description{
			font-size: 16px;
			padding-right: 20px;
		}
		#product-content .video-container iframe{
			margin-left: 0px;
		}
		#product-content .pdf{
			// margin-left: 210px;
		}
		#product-content .pdf{
			width: calc((100% - 300px)/2);
		}
	}

	@media (max-width: 767px){
		#product-content{
			width: 100%;
			margin-left: 0px;
			padding-left: 20px;
			padding-right: 20px;

			img{
				width: 100%;
			}

			h1{
				text-align: center;
			}
			.pdf-list{
				display: none;
				margin-bottom: 30px;
				font-size: 15px;
			}
			.video-container iframe{
				width: 100%;
				margin-left: 0px;
			}
		}
	}
}