#registrations-page{
	padding-top: 50px;
	padding-bottom: 50px;
	table{
		button{
			line-height: 5px;
		}
		.editable-buttons button{
			line-height: inherit;
		}
		th{
			font-size: 16px;
		}
		td{
			font-size: 15px;
			padding-bottom: 5px;
			line-height: 27px;
		}
		td.center,th.center{
			text-align: center;
		}
		.disabled{
			opacity: 0.3;
		}
	}

	table#user-table{

		form.editable-wrap{
			padding-left: 20px;
			padding-top: 8px;
			font-size: 16px;
		}

		.btn{
			padding: 2px 5px;
			line-height: 16px;
		}

		.center{
			text-align: center;
		}

		tr.ng-table-filters{
			background-color: rgba(227, 240, 246, 0.99);
		}

		td.icon-column{
			width: 50px;
			padding-left: 15px;
			padding-right: 15px;
		}

		i.glyphicon-picture{
			color: #bbb;
		}
		td.active i.glyphicon-picture{
			color: black
		}


		td:hover{
			cursor: default;
		}
		td.editable:hover, td.pointer:hover{
			cursor: pointer;
		}
		thead tr th{
			text-align: left;
			font-size: 16px;
			padding-left: 10px;
			padding-right: 10px;
			max-width: 100px;
		}
		td.image-column{
			width: 50px;
			padding-right: 20px;
		}
		td .label:hover{
			cursor: pointer;
		}
		tbody > tr > td, td.editable{
			position: relative;
			font-size: 14px;
			color: #555;
			padding-left: 20px;
			z-index: -1;

			.image-box{
				width: 250px;
				height: 250px;
				overflow: hidden;
				position: absolute;
				top: 0px;
				top: -260px;
				left: -200px;
				background-color: #333;
				border-radius: 3px;
				box-shadow: 0px 0px 10px #777;
				opacity: 0;
				transition: opacity 0s;

				img{
					max-width: 100%;
					max-height: 100%;
					transform: translate(-50%,-50%);
					margin-top: 50%;
					margin-left: 50%;
				}
			}
			&.active:hover{
				z-index: 0;
				.image-box{
					opacity: 1;
					transition: opacity 0.5s;
				}
			}
		}
		.pdf-column{
			z-index: 0;
			> i{
				display: inline-block;
				position: static;
			}
			.pdf-list{
				display: inline-block;
			}
			.pdf-item{
				display: inline-block;

				&:hover i::before{
					content: "\e014";
				}
			}
		}
	}
}