// bower:scss
// endbower

@import 'vars';

#register-page{
	padding-top: 50px;

	#register-instructions{
		height: 50px;
		text-align: center;
		font-size: 18px;
	}

	p.alert{
		font-family: 'Helvetica';
		font-size: 14px;
		text-align: center;
	}

	button.file-upload{
		margin-top: 15px;
		margin-bottom: 10px;
		vertical-align: bottom;
	}
	span.file-name{
		font-size: 14px;
		background: #ddd;
		padding: 6px;
		border-radius: 4px;
		padding-left: 15px;
		padding-right: 15px;
		height: 34px;
		display: inline-block;
		border: 1px solid #dadada;
		margin-bottom: 10px;
		margin-top: 10px;
		line-height: 19px;
	}

	h1{
		font-size: 25px;
		// text-transform: uppercase;
		margin-bottom: 20px;
	}
	form{
		text-align: left;

		button.submit{
			margin-top: 30px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.register-action{
		text-align: center;
		margin-top: 20px;
		font-size: 16px;

		a{
			font-family: 'Helvetica';
			font-weight: normal;
			color: $main-color;
		}
	}
}