// bower:scss
// endbower

@import 'vars';

#services-page{
	padding-top: 50px;
	img{
		width: 100%;
		margin: 50px auto;
	}
	p{
		font-size: 17px;
		text-transform: uppercase;
		font-family: 'Josefin Sans';
		text-align: justify;
	}
	h2{
		text-transform: uppercase;
		font-size: 30px;
		margin-bottom: 15px;
	}
}