// bower:scss
// endbower

@import 'vars';

.side{

	.twitter{
		position: relative;
		padding-top: 5px;
		overflow: hidden;
    	.twit-header{
    		> *{
    			display: inline-block;
    		}
    		img{
    			margin-top: 0px;
				vertical-align: middle;
				margin-right: 10px;
    		}
    		h3{
    			font-size: 16px;
				color: white;
    		}
    	}
    	h5{
			line-height: 13px;
			font-size: 14px;
			color: white;    	
		}
    	.twit-text{
    		opacity: 0;
    		transition: opacity 0.5s;
    		position: absolute;
    		top: 0px;
    		top: 45px;
			left: 10px;
    		h5{
    			opacity: 0;
    			transition: opacity 0.5s;
    		}

    		&.active, &.active h5{
    			opacity: 1;
    			z-index: 999;
    		}
    	}
    }

	article{
		height: 120px;
		float: none;
	}
	article.twitter img,article.linkedin img{
		margin-top: 25px;
	}

	.reclamo{
		padding-top: 30px;
        h5{
            font-size: 22px;
            line-height: 67px;
            height: auto;
            color: #eee;
            text-align: center;
            font-size: 18px;

            span.number{
            	line-height: 35px;
            }

            > *{
            	display: block;
            	line-height: 18px;
            }

            strong{
                font-size: 32px;
                margin-right: 5px;
            }
        }
    }

	.image-box-container{
		display: block;

		.image-box{
			float: none;
			width: 195px;
		}
	// }
	
	// #home-bottom-links{

	    article{
	        position: relative;
	    }
	    .play-button{
	        background-image: url('/content/images/home_buttons/button_video_normal.jpg')
	    }
	    .download-button{
	        background-image: url('/content/images/home_buttons/button_download_normal.jpg')
	    }
	    .contacts-button{
	        background-image: url('/content/images/home_buttons/button_contacts_normal.jpg')
	    }
	    h1{
	        font-size: 22px;
	        font-weight: 500;
	        margin-top: 7px;
	        margin-top: 75px;
	        position: relative;
	        z-index: 1;
	    }
	    img{
	        width: 50px;
	        margin-top: 25px;
	        transition: width 0.3s;
	        z-index: 1;

	        position: absolute;
	        left: 50%;
	        top: 44%;
	        margin-top: 0px;
	        transform: translate(-50%,-50%);
	    }
	    .bg-overlay{
	        position: absolute;
	        top: 0px;
	        left: 0px;
	        width: 100%;
	        height: 100%;
	        background: rgba(0,0,0,0.4);
	        transition: background-color 0.5s;
	        z-index: 0;
	    }
	    article:hover .bg-overlay{
	        background: rgba(0,0,0,0.1);
	    }
	    article:hover img{
	        width: 60px;
	    }
	    article:hover h1{
	    	text-decoration: none;
	    }
	    &:hover{
	    	color: transparent;
	    }
	}


	@media (max-width: 767px){
		display: none;
	}
}