// bower:scss
// endbower

@import 'vars';

#vdi-matrix-page{
    padding-top: 50px;
    margin: auto;
    font-size: 15px;
    color: #444;
    text-align: justify;
    margin-bottom: 40px;

    h2{
        margin-top: 30px;
    }
    h2:first-child{
        margin-top: 10px;
    }
    p{
    }

    .lowercase {
        text-transform: lowercase;
    }

    .uppercase {
        text-transform: uppercase;
    }

    #vdi-matrix-description{
        font-size: 18px;
        margin-bottom: 50px;
        .vdi-matrix-title {
            background: url('/content/images/vdi/logo.png') no-repeat left center;
            background-size: 150px;
            padding-left: 200px;
            color: #55acee;
            height: 150px;
            p {
                font-size: 2vw;
                padding-top: 28px;
                height: 250px;
                vertical-align: middle;
                text-align: left;
                line-height: 2vw !important;
                text-transform: uppercase;
                font-family: "Helvetica Neue", "Helvetica", sans-serif !important;
            }
        }


    }

    @media (max-width: 767px) {
        #vdi-matrix-description{
            font-size: 18px;
            margin-bottom: 50px;
            .vdi-matrix-title {
                background: url("/content/images/vdi/logo.png") no-repeat center center;
                background-size: 75px;
                padding-top: 100px;
                padding-left: 15px;
                padding-right: 15px;
                color: #55acee;
                height: 150px;
                text-align: center;
                p {
                    font-size: 3vw;
                    padding-top: 28px;
                    /* height: 250px; */
                    vertical-align: middle;
                    text-align: center;
                    line-height: 3vw !important;
                    text-transform: uppercase;
                    font-family: "Helvetica Neue", "Helvetica", sans-serif !important;
                }
            }
        }
    }

    #loading {
        margin: 15px 0;
        text-align: center;
        text-transform: lowercase;
        h3 {
            padding: 7px 15px 4px 15px;
            font-size:2.5vw;
            line-height: 2.5wv;
        }
        .animation{
            width: 50%;
            margin: 0 auto;
            .line {
                height: 1px;
                margin-top: 5px;
                margin-bottom: 5px;
                position: relative;
                display: block;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#55acee+0,55acee+50,55acee+100&0+0,1+50,0+99 */
                background: -moz-linear-gradient(left,  rgba(85,172,238,0) 0%, rgba(85,172,238,1) 50%, rgba(85,172,238,0) 99%, rgba(85,172,238,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left,  rgba(85,172,238,0) 0%,rgba(85,172,238,1) 50%,rgba(85,172,238,0) 99%,rgba(85,172,238,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right,  rgba(85,172,238,0) 0%,rgba(85,172,238,1) 50%,rgba(85,172,238,0) 99%,rgba(85,172,238,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0055acee', endColorstr='#0055acee',GradientType=1 ); /* IE6-9 */

                -webkit-animation: animate-line 2s;  /* Chrome, Safari, Opera */
                -webkit-animation-timing-function: ease-out;
                -webkit-animation-iteration-count: infinite;  /* Chrome, Safari, Opera */
                animation: animate-line 2s;
                animation-timing-function:  ease-out;
                animation-iteration-count: infinite;
            }
            @-webkit-keyframes animate-line {
                0% {width: 1%; margin-left: 0; opacity: 0;}
                25% {width: 50%; margin-left: 25%; opacity: 1;}
                50% {width: 1%; margin-left: 99%; opacity: 0;}
                75% {width: 50%; margin-left: 25%; opacity: 1;}
                100% {width: 1%; margin-left: 0; opacity: 0;}
            }

            @keyframes animate-line  {
                0% {width: 1%; margin-left: 0; opacity: 0;}
                25% {width: 50%; margin-left: 25%; opacity: 1;}
                50% {width: 1%; margin-left: 99%; opacity: 0;}
                75% {width: 50%; margin-left: 25%; opacity: 1;}
                100% {width: 1%; margin-left: 0; opacity: 0;}
            }
        }
    }
    form#vdi-matrix {
        font-family: 'Helvetica Neue','Helvetica';
        select {
            display: block;
            width: 100%;
            background: #FFF;
            border-radius: 5px;
            text-transform: uppercase;
            text-align: right;
            height: 40px;
            padding: 5px;
            border: 2px solid #55acee;
            outline: none;
        }
        .field {
            margin-bottom: 5px;
            label {
                text-align: left;
                display: inline-block;
                float: left;
                margin: 0;
                color: #FFF;
                background: #55acee;
                width: 200px;
                width: 48%;
                padding: 7.5px 5px;
                border-radius: 5px;
                text-transform: uppercase;
                vertical-align: top;
            }
            input {
                display: inline-block;
                float: right;
                margin: 0;
                background: #FFF;
                border-radius: 5px;
                text-transform: uppercase;
                text-align: right;
                height: 40px;
                width:48%;
                padding: 5px;
                border: 2px solid #55acee;
                outline: none;
            }
            p {
                margin-bottom: 5px;
            }
            select.dropdown {
                width: 48%; 
                float: right;
            }
        }
    }

    ul#vdi-results {
        list-style: none;
        margin: 50px 0 0 0;
        padding: 0;
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            border-top: 1px solid #CCC;
            .product-preview {
                display: inline-block;
                float: left;
                width: 150px;
                a {
                    display: inline-block;
                    height: 150px;
                    img {
                        width: 150px;
                    }

                }
            }
            .product-description {
                display: inline-block;
                float: left;
                padding: 20px 0 20px 54px;
                max-width: 80%;
                h3 {

                }
                h4 {
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 20px;
                    vertical-align: middle;
                    strong {
                        display: inline-block;
                        padding: 2px;
                        text-align: center;
                        margin-left: 10px;
                        background: #EFEFEF;
                        min-width: 24px;
                        border: 1px solid #CCC;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        border-radius: 2px;
                    }
                }

                h4.related-products{
                    img {
                        vertical-align: middle;
                    }
                }
                p {
                    font-size: 1em;
                    font-family: 'Helvetica';
                }
                p.separator {
                    margin: 15px 0;
                    width: 30px;
                    height: 1px;
                    border-bottom: 1px solid #ccc;
                }

            }
        }
        li:first-child {
            border-top: 3px solid #CCC;
        }
        li:last-child {
            border-bottom: 3px solid #CCC;
        }

        @media (max-width: 767px){
            li {
                list-style: none;
                margin: 0;
                padding: 0 15px;
                border-top: 3px solid #CCC;
                .product-preview {
                    display: block;
                    float: none;
                    width: 100%;
                    a {
                        display: inline-block;
                        height: auto;
                        img {
                            margin-top: 15px;
                            border: 1px solid #eaeaea;
                            width: 100%;
                        }

                    }
                }
                .product-description {
                    display: block;
                    float: none;
                    padding: 20px 0 20px 0;
                    max-width: 100% !important;
                    h3 {
                        font-size: 12vw;
                    }
                    h4 {
                        text-transform: uppercase;
                        font-size: 14px;
                        line-height: 20px;
                        vertical-align: middle;
                        strong {
                            display: block;
                            padding: 0;
                            text-align: center;
                            margin-left: 0;
                            background: #EFEFEF;
                            min-width: 100%;
                            border: 1px solid #CCC;
                            -webkit-border-radius: 2px;
                            -moz-border-radius: 2px;
                            border-radius: 2px;
                        }
                    }

                    h4.related-products{
                        margin-top: 5px;
                        strong {
                            display: block;
                            text-align: center;
                            margin-left: 0;
                        }
                        img {
                            display: none;
                        }
                    }
                    p {
                        font-size: 1em;
                        font-family: 'Helvetica';
                    }
                    p.separator {
                        margin: 15px 0;
                        width: 30px;
                        height: 1px;
                        border-bottom: 1px solid #ccc;
                    }

                }
            }
            li:first-child {
                border-top: 5px solid #CCC;
            }
            li:last-child {
                border-bottom: 5px solid #CCC;
            }
        }
    }

    ul#vdi-no-results {
        padding: 50px 0;
        margin: 0;
        list-style: none;
        li {
            padding: 0;
            margin: 0;
            list-style: none;
            font-size: 2em;
            h3 {
                font-family: 'Helvetica';
            }
        }
    }
    .clear {
        display: block;
        clear: both;
        zoom: 1;
        height: 0;
    }

    /*@media (max-width: 767px){
        &{
            padding-left: 10px;
            padding-right: 10px;
        }
        p{
            font-size: 14px;
        }
        img{
            width: 48%;

            &.vdi-logo{
                width: 100px;
            }
        }
        iframe{
            width: 100%;
            height: 189px;
        }
        }*/
    }
    @media (max-width: 767px) {
        #vdi-matrix-page {
            padding-top: 0px;
        }
    }