// bower:scss
// endbower

@import 'vars';

#vdi-page{
	padding-top: 50px;
	max-width: inherit;
	margin: auto;

	iframe{
		width: 80%;
		height: 455px;
		margin: auto;
		display: block;
		margin-top: 30px;
	}

	#vdi-description{
		margin-left: 250px;
		margin-bottom: 40px;

		h2{
			margin-top: 30px;
		}
		h2:first-child{
			margin-top: 10px;
		}
		p{
			font-size: 15px;
			color: #444;
			text-align: justify;
			font-family: 'Helvetica';
			color: #444;
		}
	}
	#vdi-description2{
		font-family: 'Josefin Sans';
		padding-top: 30px;
		padding-bottom: 30px;
		font-size: 17px;

		p{
			font-family: 'Josefin Sans';
			font-size: 17px;
			text-transform: uppercase;
			max-width: 1023px;
			margin: auto;
			text-align: justify;
			margin-top: 10px;

			a{
				color: $main-color;
			}
		}
		.vdi-images{
			margin: 40px 0px;
			position: relative;
			img{
				padding: 0px;
			}
			img.vdi-logo{
				position: absolute;
				left: 50%;
				width: 10%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}

	@media (max-width: 767px){
		&{
			padding-left: 10px;
			padding-right: 10px;
		}
		p{
			font-size: 14px;
		}
		img{
			width: 48%;

			&.vdi-logo{
				width: 100px;
			}
		}
		iframe{
			width: 100%;
			height: 189px;
		}
	}
}