// bower:scss
// endbower

@import 'vars';

#video-page{
	padding-top: 50px;

	iframe{
		width: 80%;
		height: 455px;
		margin: auto;
		display: block;
	}

	#other-videos{
		margin-top: 40px;
		.video:hover{
			.image-container{
				border: 3px solid #ddd;
			}
		}
		.video{
			margin-bottom: 20px;
			height: 240px;
			.image-container{
				height: 180px;
				border: 1px solid #ddd;
				padding: 3px;
				padding-bottom: 0px;
				transition: border 0.2s;
				img{
					width: 100%;
				}
				&:hover{
					cursor: pointer;
				}
				a{
					display: block;
				}
			}
			span{
				font-size: 15px;
				font-weight: 600;
				text-align: center;
				margin-top: 7px;
				display: block;
				color: #111;
			}	
		}
	}

	@media (max-width: 767px){
		iframe{
			width: 100%;
			height: 197px;
		}

		#other-videos{
			padding-left: 20px;
			padding-right: 20px;

			.image-container{
				height: auto;
			}
		}
	}
}