// bower:scss
// endbower

@import 'vars';

#vision-page{

	font-family: 'Josefin Sans';
	padding-top: 100px;
	font-size: 17px;

	img{
		width: 100%;
		margin-top: 40px;
	}

	#mission{
		#mission-title{
			text-align: right;
			text-transform: uppercase;

			h2{
				color: #4388cf;
				font-weight: bold;			
				font-size: 40px;
			}
		}
	}
	#vision{
		#vision-title{
			text-align: left;
			text-transform: uppercase;
			h2{
				color: #6ccfd9;
				font-weight: bold;			
				font-size: 40px;
				line-height: 38px;				
			}
		}
	}
	.separator{
		background: rgba(108,206,217,1);
		background: -moz-linear-gradient(left, rgba(108,206,217,1) 0%, rgba(67,137,207,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(108,206,217,1)), color-stop(100%, rgba(67,137,207,1)));
		background: -webkit-linear-gradient(left, rgba(108,206,217,1) 0%, rgba(67,137,207,1) 100%);
		background: -o-linear-gradient(left, rgba(108,206,217,1) 0%, rgba(67,137,207,1) 100%);
		background: -ms-linear-gradient(left, rgba(108,206,217,1) 0%, rgba(67,137,207,1) 100%);
		background: linear-gradient(to right, rgba(108,206,217,1) 0%, rgba(67,137,207,1) 100%);

		height: 12px;
		width: 100%;
		margin-bottom: 23px;
	}
}