<footer id="bottom" aclass="color_1_bg">
    <div id="footer-content">
    <section>
        <div class="footer-block">
            <!-- <h4 class="left">MB Srl</h4> -->
            <img src="/content/images/logofix.png" alt="" class="logo">
            <!-- <img src="/content/images/logo_small.png" alt=""> -->
        </div>
<!--         <div class="footer-block">
            <h5 class="left">Viale Asiago 209, 36061</h5>
            <h5 class="left">Bassano del Grappa (VI) - Italia</h5>
            <h5 class="left">P.IVA 02072300243</h5>
            <h5 class="left">REA VI - 204203</h5>
            <h5 class="left">Cap. Soc. 100.000 &euro; i.v.</h5>
        </div> -->
        <div class="footer-block footer-socials">
            <a target="_blank" href="https://www.facebook.com/pages/MB-srl/482896851762421?ref=br_tf">
                <img src="content/images/facebook_1.png" width="32" alt="facebook" />
            </a>
            <a target="_blank" href="https://vimeo.com/mbfix">
                <img src="content/images/vimeo.png" width="32" alt="vimeo" />
            </a>
            <a target="_blank" href="https://twitter.com/MBfix">
                <img src="content/images/twitter_footer.png" width="32" alt="vimeo" />
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/mb-srl">
                <img src="content/images/linkedin_footer.png" width="32" alt="vimeo" />
            </a>

            <div class="credits-legal">
                <a ng-click="openInfoModal()">Info</a>
                <a target="blank_" href="http://www.crispybacon.it/">Credits</a>
            </div>


        </div>
            
    </section>
    </div>

    <div class="test-box"></div>
</footer>