<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button ng-click="isCollapsed=!isCollapsed" ng-init="isCollapsed=true" type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#!/"><img src="content/images/mb_logo.png" alt=""></a>
    </div>

    <div collapse="isCollapsed" class="collapse navbar-collapse navigation-menu" ng-click="isCollapsed=true">

      <ul class="pull-right language-selector">
          <li ng-click="langUtils.changeLang('en')" ng-class="{'active': 'en'==langUtils.currentLang}">en</li>
          <li ng-click="langUtils.changeLang('it')" ng-class="{'active': 'it'==langUtils.currentLang}">it</li>
          <li ng-click="langUtils.changeLang('fr')" ng-class="{'active': 'fr'==langUtils.currentLang}">fr</li>
          <li ng-click="langUtils.changeLang('de')" ng-class="{'active': 'de'==langUtils.currentLang}">de</li>
      </ul>
      <ul class="nav navbar-nav">

        <li>
          <a href="/#!/" ng-click="followLink($event.target.href)">Home</a>
        </li>

        <li dropdown is-open="menuFixOpen" ng-mouseover="menuFixOpen = true" ng-mouseleave="menuFixOpen = false">
          <a class="dropdown-toggle" href="/#!/vision" ng-click="followLink($event.target.href)">MB FIX IT</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/#!/contacts" ng-click="followLink($event.target.href)">{{ '_CONTATTI' | translate }}</a></li>
            <li><a href="/#!/vision" ng-click="followLink($event.target.href)">{{ '_VISION' | translate }}</a></li>
            <li><a href="/#!/services" ng-click="followLink($event.target.href)">{{ '_SERVIZI' | translate }}</a></li>
            <li><a href="/#!/certificates" ng-click="followLink($event.target.href)">{{ '_CERTIFICATI' | translate }}</a></li>
          </ul>
        </li>

        <li class="product-menu" dropdown is-open="menuProdottiOpen" ng-mouseover="menuProdottiOpen = true" ng-mouseleave="menuProdottiOpen = false">
          <a class="dropdown-toggle" href="/#!/products" ng-click="followLink($event.target.href)">{{ '_PRODOTTI' | translate }}</a>
          <ul class="dropdown-menu" role="menu">

            <!-- CATEGORIES LIST -->
            <li ng-repeat="category in categories" ang-show="category.id=='54e5c6076424c291efb58f56'" ng-show="!category.belongsTo" class="menucat">
              <a ng-href="/#!/category/{{category.id}}" ng-click="followLink($event.target.href)">{{category.name[langUtils.currentLang]}}</a>
              <div class="submenu">
                  <a class="submenucat" ng-href="/#!/category/{{submenucat.id}}" ng-click="followLink($event.target.href)" ng-repeat="submenucat in categories" ng-show="submenucat.belongsTo == category.id">{{submenucat.name[langUtils.currentLang]}}</a>
              </div>
            </li>

          </ul>
        </li>

        <li dropdown is-open="menuVDIOpen" ng-mouseover="menuVDIOpen = true" ng-mouseleave="menuVDIOpen = false">
          <a class="dropdown-toggle" href="/#!/vdi" ng-click="followLink($event.target.href)">VDI</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/#!/vdi" ng-click="followLink($event.target.href)">{{ '_INFO_VDI' | translate }}</a></li>
            <li><a href="/#!/vdi-matrix" ng-click="followLink($event.target.href)">{{ '_MOTORI' | translate }}</a></li>
          </ul>
        </li>

        <li><a href="/#!/video">{{ '_VIDEO' | translate }}</a></li>

        <li dropdown is-open="menuDownloadOpen" ng-mouseover="menuDownloadOpen = true" ng-mouseleave="menuDownloadOpen = false">
          <a class="dropdown-toggle" href="/#!/catalogue">DOWNLOAD</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/#!/private/docs" ng-click="followLink($event.target.href)">{{ '_AREA_CLIENTI' | translate }}</a></li>
            <li><a target="_blank" href="{{baseUrlAssets}}MB-PRIVACY.pdf" ng-click="followLink($event.target.href)">{{ '_PRIVACY' | translate }}</a></li>
            <li><a href="/#!/catalogue" ng-click="followLink($event.target.href)">{{ '_CATALOGO' | translate }}</a></li>
          </ul>
        </li>

        <li dropdown ng-show="security.isAuthenticated" is-open="menuUserOpen" ng-mouseover="menuUserOpen = true" ng-mouseleave="menuUserOpen = false">
          <a class="dropdown-toggle" href="/#!/admin" ng-click="followLink($event.target.href)">{{security.user.clientCode}}</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="" ng-click="logout()">Logout</a></li>
          </ul>
        </li>

        <li class="visible-xs header-socials">
          <a target="_blank" href="https://www.facebook.com/pages/MB-srl/482896851762421?ref=br_tf" ng-click="followLink($event.target.href)">
                <img src="content/images/facebook_1.png" width="32" alt="facebook"  ng-click="followLink($event.target.href)"/>
            </a>
            <a target="_blank" href="https://vimeo.com/mbfix">
                <img src="content/images/vimeo.png" width="32" alt="vimeo"  ng-click="followLink($event.target.href)"/>
            </a>
            <a target="_blank" href="https://twitter.com/MBfix">
                <img src="content/images/twitter_footer.png" width="32" alt="vimeo"  ng-click="followLink($event.target.href)"/>
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/mb-srl">
                <img src="content/images/linkedin_footer.png" width="32" alt="vimeo"  ng-click="followLink($event.target.href)"/>
            </a>
        </li>


      </ul>



    </div><!-- /.container-fluid -->
</nav>