<div class="side" ng-controller="Sidebar">

    <article class="five twitter left">
        <div aclass="icon" style="float:none; margin:auto;">
            <a target="_blank" href="https://twitter.com/MBfix" class="twit-header"><img src="content/images/twitter.png" width="40" alt="twitter" /><h3 ng-class='tweetClass'>@MBfix</h3></a>
            <a ng-repeat="twit in twits" class="twit-text" ng-class="{'active': $index==activeTwitIndex}" target="_blank" ng-href="https://twitter.com/MBfix/status/{{twit.id_str}}"><h5 ng-class='tweetClass'>{{twit.text}}</h5></a>
        </div>
    </article>

    <article class="five linkedin reclamo left" astyle="margin-bottom:0; padding:5px; height:54px;">
        <div style="float:none; margin:auto;">
            <h5>
                <span class="number"><strong>{{info[0].lastComplaint | daysSince}}</strong></span>
                <span>{{'_GIORNI_RECLAMO' | translate}}</span>
            </h5>
        </div>
    </article>


        <a href="/#!/video" class="image-box-container">
            <article class="image-box eight left button play-button">
                <img src="content/images/play.png" width="100" alt="play" />
                <h1>{{'_HOME_VIDEOS' | translate }}</h1>
                <div class="bg-overlay"></div>
            </article>
        </a>
        <a href="/#!/catalogue" class="image-box-container">
            <article class="image-box eight left button download-button">
                <img src="content/images/download.png" width="100" alt="download" />
                <h1>Download</h1>
                <div class="bg-overlay"></div>
            </article>
        </a>
        <a href="/#!/contacts" class="image-box-container">
            <article class="image-box eight left button contacts-button">
                <img src="content/images/contacts.png" width="100" alt="contacts" />
                <h1>{{ '_HOME_CONTACTS' | translate }}</h1>
                <div class="bg-overlay"></div>
            </article>
        </a>
</div>
