<div id="admin-header">
	<nav class="navbar navbar-default">
		<div class="container">
		    <ul class="nav navbar-nav">
		        <li><a ng-class="{'active': isActive('/admin/utils')}" href="/#!/admin/utils">Varie</a></li>
		        <li><a ng-class="{'active': isActive('/admin/slideshow')}" href="/#!/admin/slideshow">Slideshow</a></li>
		        <li><a ng-class="{'active': isActive('/admin/registrations')}" href="/#!/admin/registrations">Gestione clienti</a></li>
		        <li><a ng-class="{'active': isActive('/admin/products')}" href="/#!/admin/products">Gestione prodotti</a></li>
		        <li><a ng-class="{'active': isActive('/admin/subcat')}" href="/#!/admin/subcat">Gestione Tipologie</a></li>
		    </ul>
		</div>
	</nav>
</div>