<div id="login-page" class="container">
    <h1>Login</h1>
    
    <div class="jumbotron">
        <form role="form" novalidate>
        <div class="form-group">
            <label>{{'_USERNAME' | translate}}</label>
            <input type="text" class="form-control" placeholder="Nome Utente" ng-model="user">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="password">
        </div>
        <button ng-click="login()" type="submit" class="btn btn-primary">Login</button>
        <div class="register-action">
            <span>{{'_NON_REGISTRATO' | translate}} <a href="#!/register">{{'_REGISTRATI' | translate}}</a></span>
        </div>
        
        <div id="form-error">{{ login_error }}</div>
        </form>


    </div>
</div>