<div ng-include="'admin/header.html'" ng-controller="AdminHeader"></div>

<div id="admin-products-page">
	<div class="container">

		<div id="product-section">
			<button class="btn btn-primary create-button" ng-click="newProduct()">Nuovo prodotto</button>
			<div class="admin-lang btn-group" dropdown is-open="status.isopen">
		      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
		        {{adminLang}} <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		      	<li ng-repeat="lang in langs"><a ng-click="changeAdminLang(lang)">{{lang}}</a></li>
		      </ul>
		    </div>

			<!-- <h2>Prodotti</h2> -->
			<table id="products-table" ng-table="tableParams" class="table table-bordered" show-filter="true">
				<tr ng-repeat="product in $data">
					<!-- NAME -->
						<td onaftersave="saveProduct(product)" filter="{ 'name': 'text' }" editable-text="product.name" data-title="'Nome'" sortable="'name'">{{product.name}}</td>

					<!-- CAT -->
						<td data-title="'Categoria'" sortable="'subcategory.categoryId'">{{product.subcategory.category.name[adminLang]}}</td>

					<!-- SUBCAT -->
						<td onaftersave="saveProduct(product)" editable-select="product.subcategoryId" e-ng-options="subcategory.id as subcategory.full_label for subcategory in subcategories" data-title="'Tipo'" sortable="'subcategoryId'">{{product.subcategory.name[adminLang]}}</td>

					<!-- DESCRIPTION -->
						<td onaftersave="saveProduct(product)" editable-textarea="product.description[adminLang]" data-title="'Testo'" sortable="'description[adminLang]'">{{product.description[adminLang] | truncate}}</td>

					<!-- PDF -->
						<td class="pdf-column pointer" data-title="'pdf'">	
							<i ng-file-select ng-model="productpdf" ng-file-change="pdfChange($files,product)" class="glyphicon glyphicon-plus"></i>
							<div ng-show="pdf.lang == adminLang" ng-repeat="pdf in product.pdf" class="pdf-item" tooltip="{{pdf.name}}" ng-click="removeFile(product,pdf)">
								<i class="glyphicon glyphicon-file"></i>
							</div>
						</td>

					<!-- VIDEO -->
						<td class="image-column pointer" onaftersave="saveProduct(product)" editable-text="product.video" e-placeholder="vimeo id (i.e. 65508625)" ng-class="{'active': !!product.video}">
							<i class="glyphicon glyphicon-facetime-video"></i>
							<div class="video-box">{{product.video}}</div>
						</td>

					<!-- IMAGE -->
						<td class="image-column pointer" ng-class="{'active': !!product.image}">
							<i ng-file-select ng-model="productimg" ng-file-change="fileChange($files,product)" class="glyphicon glyphicon-picture"></i>
							<div class="image-box">
								<img ng-src="{{baseUrlAssets}}{{product.image}}" alt="">
							</div>
						</td>

					<!-- REMOVE -->
						<td data-title="'Elimina'" class="center icon-column"><button ng-click="removeProduct(product)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
			</table>
		</div>

	</div>
</div>

