	<div ng-include="'admin/header.html'" ng-controller="AdminHeader"></div>

<div id="admin-products-page">
	<div class="container">
		<div id="subcat-section">
			<button class="btn btn-primary create-button" ng-click="newSubcat()">Nuova tipologia</button>
			<!-- <h2>Tipologie Prodotto</h2> -->
			<table id="subcat-table" ng-table="tableParamsSubcat" class="table table-bordered">
				<tr ng-repeat="subcat in $data">
					<td onaftersave="saveSubcat(subcat)" editable-text="subcat.name.it" data-title="'IT'">{{subcat.name.it}}</td>
					<td onaftersave="saveSubcat(subcat)" editable-text="subcat.name.en" data-title="'EN'">{{subcat.name.en}}</td>
					<td onaftersave="saveSubcat(subcat)" editable-text="subcat.name.fr" data-title="'FR'">{{subcat.name.fr}}</td>
					<td onaftersave="saveSubcat(subcat)" editable-text="subcat.name.de" data-title="'DE'">{{subcat.name.de}}</td>
					<td onaftersave="saveSubcat(subcat)" editable-select="subcat.categoryId" e-ng-options="category.id as category.name.it for category in categories" data-title="'Categoria'" sortable="'categoryId'">{{subcat.category.name.it}}</td>
					<td data-title="'Elimina'" class="center icon-column"><button ng-click="removeSubcat(subcat)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
			</table>
		</div>

	</div>
</div>

