<div ng-include="'admin/header.html'" ng-controller="AdminHeader"></div>

<div id="registrations-page">


	<div class="container">
	<table id="user-table" ng-table="tableParams" class="table table-bordered" show-filter="true">
				<tr ng-repeat="user in $data">
					<!-- NAME -->
						<td onaftersave="saveUser(user)" filter="{ 'companyName': 'text' }" editable-text="user.companyName" data-title="'Nome Azienda'" sortable="'companyName'">{{user.companyName}}</td>

					<!-- ADDRESS -->
						<!-- <td onaftersave="saveUser(user)" editable-text="user.invoiceAddress" data-title="'Indirizzo'" sortable="'invoiceAddress'">{{user.invoiceAddress}}</td> -->

					<!-- CLIENT ID -->
						<td onaftersave="saveUser(user)" editable-text="user.clientCode" data-title="'Codice Cliente'" sortable="'clientCode'">{{user.clientCode}}</td>

					<!-- VAT -->
						<td onaftersave="saveUser(user)" filter="{ 'VATcode': 'text' }" editable-text="user.VATcode" data-title="'P.IVA'" sortable="'VATcode'">{{user.VATcode}}</td>

					<!-- EMAIL -->
						<!-- <td onaftersave="saveUser(user)" editable-text="user.mail" data-title="'EMail'" sortable="'mail'">{{user.mail}}</td> -->

					<!-- PASSWORD -->
						<td onaftersave="saveUser(user)" editable-text="user.password" data-title="'Password'" sortable="'password'">{{user.password}}</td>

					<!-- PHONE -->
						<!-- <td onaftersave="saveUser(user)" editable-text="user.phone" data-title="'Telefono'" sortable="'phone'">{{user.phone}}</td> -->

					<td data-title="'Form'" class="center">
						<a ng-show="user.formuploaded" target="_blank" href="{{baseUrlAssets}}{{user.formuploaded}}"><button class="btn btn-primary"><i class="glyphicon glyphicon-download"></i></button></a>
						<button ng-show="!user.formuploaded" class="disabled btn btn-primary"><i class="glyphicon glyphicon-download"></i></button>
					</td>
					<td data-title="'Attiva'" sortable="'activated'" class="center">
						<span class="label label-success" ng-click="deactivate(user)" ng-show="user.activated">attivato</span>
						<span class="label label-warning" ng-click="activate(user)" ng-show="!user.activated">disattivato</span>
					<td data-title="'Elimina'" class="center"><button ng-click="remove(user)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button></td>

				</tr>
	</table>
	</div>

</div>