<div id="register-page" class="container">
	<h1>{{'_REGISTRATI' | translate}}</h1>

	<div id="register-instructions" ng-bind-html="'_ISTRUZIONI_REGISTRAZIONE' | translate" ng-show="!hideForm"></div>
	<div ng-show="!hideForm" class="jumbotron">
		<form name="registerForm" role="form" novalidate>
			<div class="form-group">
				<label>{{'_NOME_AZIENDA' | translate}}</label>
				<input required type="text" class="form-control" name="companyName" placeholder="{{'_NOME_AZIENDA' | translate}}" ng-model="registerFields.companyName">
				<div class="custom-error" ng-show="registerForm.companyName.$dirty && registerForm.companyName.$invalid">Error: 
					<span ng-show="registerForm.companyName.$error.required">{{'_CAMPO_RICHIESTO' | translate}}</span>
				</div>
			</div>

			<div class="form-group">
				<label>{{'_INDIRIZZO_FATTURAZIONE' | translate}}</label>
				<input required type="text" class="form-control" name="invoice" placeholder="{{'_INDIRIZZO_FATTURAZIONE' | translate}}" ng-model="registerFields.invoiceAddress">
				<div class="custom-error" ng-show="registerForm.invoice.$dirty && registerForm.invoice.$invalid">Error: 
					<span ng-show="registerForm.invoice.$error.required">{{'_CAMPO_RICHIESTO' | translate}}</span>
				</div>
			</div>
			<div class="form-group">
				<label>{{'_PARTITA_IVA' | translate}}</label>
				<input required type="text" class="form-control" name="vat" placeholder="{{'_PARTITA_IVA' | translate}}" ng-model="registerFields.VATcode">
				<div class="custom-error" ng-show="registerForm.vat.$dirty && registerForm.vat.$invalid">Error: 
					<span ng-show="registerForm.vat.$error.required">{{'_CAMPO_RICHIESTO' | translate}}</span>
				</div>
			</div>
			<div class="form-group">
				<label>{{'_EMAIL' | translate}}</label>
				<input required type="email" class="form-control" name="mail" placeholder="{{'_EMAIL' | translate}}" ng-model="registerFields.mail">
				<div class="custom-error" ng-show="registerForm.mail.$dirty && registerForm.mail.$invalid">Error: 
					<span ng-show="registerForm.mail.$error.required">{{'_CAMPO_RICHIESTO' | translate}}</span>
					<span ng-show="registerForm.mail.$error.email">{{'_EMAIL_NON_VALIDA' | translate}}</span>
				</div>
			</div>
			<div class="form-group">
				<label>{{'_TELEFONO' | translate}}</label>
				<input required type="text" class="form-control" name="phone" placeholder="{{'_TELEFONO' | translate}}" ng-model="registerFields.phone">
				<div class="custom-error" ng-show="registerForm.phone.$dirty && registerForm.phone.$invalid">Error: 
					<span ng-show="registerForm.phone.$error.required">{{'_CAMPO_RICHIESTO' | translate}}</span>
				</div>
			</div>
			<!-- UNCOMMENT TO SHOW FILE UPLOAD BUTTON-->
			<!--div class="form-group">
				<button class="btn btn-success file-upload" ng-file-select ng-model="registerDoc" ng-file-change="fileChange($files,product)">{{'_CARICA_FORM' | translate}}</button>
				<span ng-show="!!file" class="file-name">{{file.name}}</span>
			</div-->

			<!-- UNCOMMENT TO SET FILE UPLOAD NEEDED-->
			<!--button ng-disabled="!file || registerForm.$invalid" class="submit btn btn-primary" ng-click="register()">{{'_REGISTRATI' | translate}}</button-->
			<button ng-disabled="registerForm.$invalid" class="submit btn btn-primary" ng-click="register()">{{'_REGISTRATI' | translate}}</button>
		</form>

	</div>

	<p ng-show="alert.enabled" class="bg-danger alert alert-{{alert.class}}" ng-bind-html="alert.text">
	</p>
	<div  ng-show="alert.enabled">
		<div class="progress" ng-controller="UploadProgress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{progressBar}}"
			aria-valuemin="0" aria-valuemax="100" style="width:{{progressBar}}%" ng-model="progressBar">
			<span class="sr-only">{{progressBar}}% Complete</span>
		</div>
	</div>
	<p ng-show="uploadComplete" ng-model="uploadComplete"><span ng-model="uploadCompleteText">{{uploadCompleteText}}</span></p>
</div>
</div>