<div ng-include="'admin/header.html'" ng-controller="AdminHeader"></div>

<div id="admin-slideshow-page">

	<div class="container">
		<button class="btn btn-primary" ng-click="newSlide()">Nuova slide</button>
		<div class="admin-lang btn-group" dropdown is-open="status.isopen">
		      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
		        {{adminLang}} <span class="caret"></span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		      	<li ng-repeat="lang in langs"><a ng-click="changeAdminLang(lang)">{{lang}}</a></li>
		      </ul>
		</div>
		<table class="table table-bordered">
			<thead>
				<th></th>
				<th>Titolo</th>
				<th>Testo</th>
				<th>Immagine</th>
				<th>Link</th>
				<th>Prodotto</th>
				<th>Elimina</th>
			</thead>
			<tbody>
				<tr ng-repeat="slide in slides | orderBy:'position'">
					<td class="sort-cell">
					    <div class="sort">
	                        <i class="glyphicon glyphicon-chevron-up" ng-click="sortUp(slide)"></i>
	                        <i class="glyphicon glyphicon-chevron-down" ng-click="sortDown(slide)"></i>
	                    </div>
	                </td>
					<td onaftersave="saveSlide(slide)" editable-text="slide.title[adminLang]">{{slide.title[adminLang]}}</td>
					<td onaftersave="saveSlide(slide)" editable-text="slide.text[adminLang]">{{slide.text[adminLang]}}</td>

					<!-- IMAGE -->
					<td class="image-column pointer" ng-class="{'active': !!slide.image}">
						<i ng-file-select ng-model="productimg" ng-file-change="fileChange($files,slide)" class="glyphicon glyphicon-picture"></i>
						<i ng-show="!!slide.image" ng-click="deleteImage(slide)" class="glyphicon glyphicon-remove"></i>
						<div class="image-box">
							<img ng-src="{{baseUrlAssets}}{{slide.image}}" alt="">
						</div>
					</td>

					<td onaftersave="saveSlide(slide)" e-placeholder="pagina (i.e. /contacts)" editable-text="slide.staticLink" >{{slide.staticLink}}</td>
					<td ng-class="{'disabled': (!!slide.staticLink || !!slide.image)}" onaftersave="saveSlide(slide)" editable-select="slide.productId" e-ng-options="product.id as product.name for product in products">{{slide.product.name}}</td>
					<td class="center icon-column"><button ng-click="removeSlide(slide)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>