<div ng-include="'admin/header.html'" ng-controller="AdminHeader"></div>

<div id="admin-utils-page" class="admin-page">
	<div class="container">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>Data ultimo reclamo</td>
					<td onaftersave="saveInfo()" editable-date="info[0].lastComplaint">{{info[0].lastComplaint | amDateFormat:'LL' }}</td>
				</tr>
				<tr>
					<td>Numero di radiatori</td>
					<td onaftersave="saveInfo()" editable-text="info[0].radiatorsNumber">{{info[0].radiatorsNumber}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
