<div id="info-modal">
    <div class="modal-header">
    	<button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">MB Srl</h3>
    </div>
    <div class="modal-body">

	    <p><strong>{{'_SEDE_OPERATIVA' | translate}}</strong>Via Madonna Nera, 2/b, 31030 Borso del Grappa, Treviso, Italia</p>
	    <p><strong>{{'_SEDE_LEGALE' | translate}}</strong>Via Barbieri 9, 36061, Bassano del Grappa (VI) - Italia</p>
	    <p>phone: <a href="tel:+39 0423 913800">+39 0423 913800</a><br/>
	    	fax: <a href="tel:+39 0423 542188">+39 0423 542188</a><br/>
	    	email: <a href="mailto:marketing@mb-fix.it">marketing@mb-fix.it</a></p>
	    <p>P.IVA 02072300243<br/>REA VI - 204203<br/>Cap. Soc. 100.000 € i.v.</p>

    </div>
</div>