<!doctype html>
<html class="no-js"  ng-app="app" ng-controller="SeoController">
  <head>
    <meta charset="utf-8">
    <title>MB FIX IT | {{pageTitle}} </title>
    <meta name="description" content="{{pageDescription}}">
    <meta name="keywords" content="{{pageMeta}}">

    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!" />
    <meta name="viewport" content="width=device-width, user-scalable=no,
    initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700' rel='stylesheet' type='text/css'>

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" />
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/html5reset.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/home.css" />
    <link rel="stylesheet" href="styles/categories.css" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="stylesheet" href="styles/product.css" />
    <link rel="stylesheet" href="styles/contacts.css" />
    <link rel="stylesheet" href="styles/login.css" />
    <link rel="stylesheet" href="styles/register.css" />
    <link rel="stylesheet" href="styles/registrations.css" />
    <link rel="stylesheet" href="styles/admin.header.css" />
    <link rel="stylesheet" href="styles/admin.products.css" />
    <link rel="stylesheet" href="styles/admin.slideshow.css" />
    <link rel="stylesheet" href="styles/vdi.css" />
    <link rel="stylesheet" href="styles/vdi-matrix.css" />
    <link rel="stylesheet" href="styles/vision.css" />
    <link rel="stylesheet" href="styles/catalogue.css" />
    <link rel="stylesheet" href="styles/video.css" />
    <link rel="stylesheet" href="styles/sidebar.css" />
    <link rel="stylesheet" href="styles/private.docs.css" />
    <link rel="stylesheet" href="styles/certificates.css" />
    <link rel="stylesheet" href="styles/infomodal.css" />
    <link rel="stylesheet" href="styles/services.css" />
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div id="header" ng-include="'layout/header.html'" ng-controller="Header"></div>

    <div class="caontainer" id="view" ng-view></div>

    <div id="footer" ng-include="'layout/footer.html'" ng-controller="Footer"></div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-39919584-25');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-data/dist/angular-data.min.js"></script>
    <script src="bower_components/angular-cache/dist/angular-cache.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/pretty-bytes/pretty-bytes.js"></script>
    <script src="bower_components/angular-pretty-bytes/angular-pretty-bytes.js"></script>
    <!-- endbower -->


    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="components/angular-gm.js"></script>
    <script src="app.module.js"></script>
    <script src="app.routes.js"></script>
    <script src="app.config.js"></script>
    <script src="layout/header.controller.js"></script>
    <script src="layout/footer.controller.js"></script>
    <script src="layout/sidebar.controller.js"></script>
    <script src="layout/seo.controller.js"></script>
    <script src="admin/login.controller.js"></script>
    <script src="admin/register.controller.js"></script>
    <script src="admin/manage_registrations.controller.js"></script>
    <script src="admin/manage_products.controller.js"></script>
    <script src="admin/manage_subcat.controller.js"></script>
    <script src="admin/header.controller.js"></script>
    <script src="admin/slideshow.controller.js"></script>
    <script src="admin/utils.controller.js"></script>
    <script src="private/private.docs.controller.js"></script>
    <script src="private/private.header.controller.js"></script>
    <script src="private/private.video.controller.js"></script>
    <script src="pages/home.controller.js"></script>
    <script src="pages/category.controller.js"></script>
    <script src="pages/categories.controller.js"></script>
    <script src="pages/product.controller.js"></script>
    <script src="pages/vdi-matrix.controller.js"></script>
    <script src="pages/contacts.controller.js"></script>
    <script src="pages/vdi.controller.js"></script>
    <script src="pages/vision.controller.js"></script>
    <script src="pages/catalogue.controller.js"></script>
    <script src="pages/video.controller.js"></script>
    <script src="pages/certificates.controller.js"></script>
    <script src="languages/italian.config.js"></script>
    <script src="languages/langdetect.run.js"></script>
    <script src="log/log.http-interceptor.js"></script>
    <script src="models/angulardata.config.js"></script>
    <script src="models/category.model.js"></script>
    <script src="models/subcategory.model.js"></script>
    <script src="models/user.model.js"></script>
    <script src="models/product.model.js"></script>
    <script src="models/slideshow.model.js"></script>
    <script src="models/info.model.js"></script>
    <script src="models/twit.model.js"></script>
    <script src="models/vimeo.model.js"></script>
    <script src="models/privatedocs.model.js"></script>
    <script src="models/privatevideo.model.js"></script>
    <script src="models/vdi-matrix.model.js"></script>
    <script src="security/auth.http-interceptor.js"></script>
    <script src="security/auth.routes.js"></script>
    <script src="security/security.service.js"></script>
    <script src="services/commonData.service.js"></script>
    <script src="services/langUtils.service.js"></script>
    <script src="services/seo.service.js"></script>
    <script src="filters/truncate.filter.js"></script>
    <script src="filters/days_since.filter.js"></script>
    <script src="components/authdownload.directive.js"></script>
    <script src="components/infoModal.controller.js"></script>

    <!-- ADDITIONAL SCRIPTS TO BE INJECTED BY grunt-sails-linker -->
    <!--SCRIPTS-->
    <script src="mock/mockbackend.empty.js"></script>
    <!--SCRIPTS END-->

    <!-- endbuild -->

    <script src="https://maps.googleapis.com/maps/api/js?language=it"></script>

</body>
</html>