<section id="catalogue-page">
	
	<div ng-include="'/layout/products_sidebar.html'"></div>

	<div id="catalogue-list">

		<a ng-repeat="catalogue in catalogues" target="_blank" ng-href="{{catalogue.filename[langUtils.currentLang]}}"><div class="catalogue col-md-4">
			<img ng-src="{{catalogue.image[langUtils.currentLang]}}" alt="">
			<div class="icon-overlay">
				<i class="glyphicon glyphicon-file"></i>
			</div>
			<span class="catalogue-description">{{catalogue.title[langUtils.currentLang]}}</span>
		</div></a>

	</div>


</section>