<section id="category" ng-show="!!printSubcats">
    <div ng-include="'/layout/products_sidebar.html'"></div>
    <div class="left products-list" astyle="width: 690px">
        <div ng-repeat="subcategory in subcategories | orderBy:'updatedAt'" class="left anineteen subcategory">
            <h1 style="margin: 10px">{{subcategory.name[langUtils.currentLang]}}</h1>
            <article class="three left prodotti" ng-repeat="product in subcategory.products | orderBy:'name'">
                <a href="/#!/products/{{product.id}}">
                    <figure>
                        <img ng-src="{{baseUrlAssets}}{{product.image}}" width="100%" alt="servizio" />
                    </figure>
                    <h5>{{product.name}}</h5>
                </a>
            </article>
        </div>
    </div>

    <div class="row"></div>
</section>

<section id="types" ng-show="!printSubcats">
    <div ng-include="'/layout/products_sidebar.html'"></div>
    <article class="six left catalogo" ng-repeat="category in subcategories">
        <a href="/#!/category/{{category.id}}">
            <figure>
                <img ng-src="{{baseUrlAssets}}{{category.image}}" width="100%" alt="servizio" />
            </figure>
            <h5>{{category.name[langUtils.currentLang]}}</h5>
        </a>
    </article>
    <div class="row"></div>
</section>
