<section id="types">
    <div ng-include="'/layout/products_sidebar.html'"></div>
    <article class="six left catalogo" ng-repeat="category in categories">
        <a href="/#!/category/{{category.id}}">
            <figure>
                <img ng-src="{{baseUrlAssets}}{{category.image}}" width="100%" alt="servizio" />
            </figure>
            <h5>{{category.name[langUtils.currentLang]}}</h5>
        </a>
    </article>
    <div class="row"></div>
</section>
