<section id="certificates-page">
	
	<div ng-include="'/layout/products_sidebar.html'"></div>

	<div id="certificates-list">

		<a target="_blank" href="{{baseUrlAssets}}certificates/B 15 01 68251 002.pdf"><div class="catalogue col-md-4">
			<img src="{{baseUrlAssets}}certificates/B 15 01 68251 002.jpg" alt="">
			<div class="icon-overlay">
				<i class="glyphicon glyphicon-file"></i>
			</div>
			<span class="catalogue-description">B 15 01 68251 002</span>
		</div></a>

		<a target="_blank" href="{{baseUrlAssets}}certificates/VA_MES 15 04 054.pdf"><div class="catalogue col-md-4">
			<img src="{{baseUrlAssets}}certificates/VA_MES 15 04 054.jpg" alt="">
			<div class="icon-overlay">
				<i class="glyphicon glyphicon-file"></i>
			</div>
			<span class="catalogue-description">VA_MES 15 04 054</span>
		</div></a>

		<a ng-if="langUtils.currentLang=='en' || langUtils.currentLang=='it'" target="_blank" href="{{baseUrlAssets}}certificates/UNI EN ISO 9001 2008 (IT-EN).pdf"><div class="catalogue col-md-4">
			<img src="{{baseUrlAssets}}certificates/UNI EN ISO 9001 2008 (IT-EN).jpg" alt="">
			<div class="icon-overlay">
				<i class="glyphicon glyphicon-file"></i>
			</div>
			<span class="catalogue-description">UNI EN ISO 9001 2008 (IT-EN)</span>
		</div></a>

		<a ng-if="langUtils.currentLang=='de'" target="_blank" href="{{baseUrlAssets}}certificates/UNI EN ISO 9001 2008 (DE).pdf"><div class="catalogue col-md-4">
			<img src="{{baseUrlAssets}}certificates/UNI EN ISO 9001 2008 (DE).jpg" alt="">
			<div class="icon-overlay">
				<i class="glyphicon glyphicon-file"></i>
			</div>
			<span class="catalogue-description">UNI EN ISO 9001 2008 (DE)</span>
		</div></a>

	</div>


</section>