<section id="contacts-page">
    <div ng-include="'/layout/products_sidebar.html'"></div>

    <div gm-info-window="infoWindow">
        <h4>MB Fix it</h4>
        <li>Via Barbieri, 9</li>
        <li>36061, Bassano Del Grappa (VI)</li>
        <li>Italy</li>
      </div>
    <div ng-if="langUtils.currentLang=='en' || langUtils.currentLang=='it' || langUtils.currentLang=='fr'" gm-map gm-map-id="'mapWithMarkers'" ng-class="{'map-de': langUtils.currentLang=='de'}" gm-center="center" gm-zoom="zoom"  gm-map-options="mapSettings" class="map">
        <gm-markers gm-objects="markers"
            gm-position="{ lat: object.lat, lng: object.lng }"
            gm-marker-options="{clickable: true}"
            gm-id="object.id"
            gm-on-openinfowindow="selectedVolcano = object; infoWindow.open(marker.getMap(), marker);"
            gm-on-click="infoWindow.open(marker.getMap(), marker); triggerOpenInfoWindow(object)">
        </gm-markers>
    </div>
    <div ng-if="langUtils.currentLang=='de'" ng-class="{'map-de': langUtils.currentLang=='de'}" gm-map gm-map-id="'mapWithMarkers2'" gm-center="center" gm-zoom="zoom"  gm-map-options="mapSettings" class="map">
        <gm-markers gm-objects="markers"
            gm-position="{ lat: object.lat, lng: object.lng }"
            gm-marker-options="{clickable: true}"
            gm-id="object.id"
            gm-on-openinfowindow="selectedVolcano = object; infoWindow.open(marker.getMap(), marker);"
            gm-on-click="infoWindow.open(marker.getMap(), marker); triggerOpenInfoWindow(object)">
        </gm-markers>
    </div>
    <div ng-if="langUtils.currentLang=='de'" ng-class="{'map-de': langUtils.currentLang=='de'}" gm-map gm-map-id="'mapWithMarkers3'" gm-center="center" gm-zoom="zoom"  gm-map-options="mapSettings_de" class="map">
        <gm-markers gm-objects="markers_de"
            gm-position="{ lat: object.lat, lng: object.lng }"
            gm-marker-options="{clickable: true}"
            gm-id="object.id"
            gm-on-openinfowindow="selectedVolcano = object; infoWindow.open(marker.getMap(), marker);"
            gm-on-click="infoWindow.open(marker.getMap(), marker); triggerOpenInfoWindow(object)">
        </gm-markers>
    </div>

    <div class="contact-data row">
    <!-- <article class="eighteen color_1_bg right" style="height:486px; padding:0" id="map-canvas"></article> -->
        <article ang-show="false" ng-show="langUtils.currentLang=='de'" class="aek-logo address-de map-description six right address phone">
            <img src="/content/images/contacts/aek.jpg">
        </article>
        <article ng-show="langUtils.currentLang=='de'" class="map-description six right address phone phone-de">
            <h5><span class="color_2">Phone</span> <span class="value"><a href="tel:+390423913800"> 02191 - 9471-0</a></span></h5>
            <h5><span class="color_2">Fax</span> <span class="value"><a href="tel:+390423542188"> 02191 - 947117</a></span></h5>
            <h5><span class="color_2">E-mail</span> <span class="value"><a href="mailto:marketing@mb-fix.it"> info@aek-vertrieb.de</a></span></h5>
        </article>
        <article ng-show="langUtils.currentLang=='de'" class="address-de map-description six right address">
            <h5><span class="color_2"></span> <span class="value">Geschäftsführer: Alfred E. Kratochvil</span></h5>
            <h5><span class="color_2"></span> <span class="value">Amtsgericht Wuppertal HRB 12224</span></h5>
            <h5><span class="color_2"></span> <span class="value">Dörperhöhe 27, 42897 Remscheid</span></h5>
        </article>


        <article class="map-description six right address phone" ng-class="{'en': langUtils.currentLang=='en' || langUtils.currentLang=='it' || langUtils.currentLang=='fr'}">
            <h5><span class="color_2">Phone</span> <span class="value"><a href="tel:+390423913800"> +39 0423 913800</a></span></h5>
            <h5><span class="color_2">Fax</span> <span class="value"><a href="tel:+390423542188"> +39 0423 542188</a></span></h5>
            <h5><span class="color_2">E-mail</span> <span class="value"><a href="mailto:marketing@mb-fix.it"> marketing@mb-fix.it</a></span></h5>
        </article>
        <article class="map-description six right address" ng-class="{'en': langUtils.currentLang=='en' || langUtils.currentLang=='it' || langUtils.currentLang=='fr'}">

            <h5><span class="color_2">Address</span> <span class="value">Via Madonna Nera, 2/b</span></h5>
            <h5><span class="color_2"></span> <span class="value">31030 Borso del Grappa</span></h5>
            <h5><span class="color_2"></span> <span class="value">Treviso, Italia</span></h5>
        </article>
    </div>
</section>
