<section id="home" class="animated">
    <article class="nineteen color_1_bg right container photo-container">
        <div class="left sector-left sector" ng-class='animClass'>
            <!-- DIV LEFT -->

            <!-- ANIMATION -->
            <div id="home-animation">


                <!-- INNER CIRCLE -->
                    <div class="circle1 circle"></div>
                    <div class="circle1-text circle-text" ng-bind-html="'_RING_INNER' | translate"></div>

                <!-- MEDIUM CIRCLE -->
                    <div class="circle2 circle"></div>
                    <div class="circle2-text circle-text" ng-bind-html="'_RING_MIDDLE' | translate"></div>

                <!-- OUTER CIRCLE -->
                    <div class="circle3 circle"></div>
                    <div class="circle3-text circle-text" ng-bind-html="'_RING_OUTER' | translate"></div>

            
                <div class="white-gradient"></div>

                <img src="/content/images/animation/arrow.png" alt="" class="arrow">

                <div class="logo-container">

                    <img src="/content/images/mb_logo.png" alt="" class="logo">
                </div>

            </div>
        </div>
        <div class="right sector-topright sector" ng-class='animClass'>
            <div class="sector-container" ng-repeat="slide in slides" >
                <a ng-if="!slide.image && !slide.staticLink" ng-class="{'active': $index==activeSlideIndex}" ng-href="/#!/products/{{slide.product.id}}" class="sector-picture">
                    <img ang-click="setPath(slide)" ng-class="{'active': $index==activeSlideIndex}" ng-src="{{baseUrlAssets}}{{slide.product.subcategory.category.image}}"/>
                </a>
                <a ng-class="{'active': $index==activeSlideIndex}" ng-href="{{slide.staticLink}}" class="sector-picture" ng-if="!!slide.image || !!slide.staticLink" target="_blank">
                    <img ng-click="setPath(slide)" ng-class="{'active': $index==activeSlideIndex}" ng-src="{{baseUrlAssets}}{{slide.image}}" />
                </a>
                
            </div>
            <!-- <img ng-src="{{api}}/img/radiators/{{activeItem.radiator}}.png" /> -->
        </div>
        <div class="right sector-bottomright sector" ng-class='animClass'>

            <div ng-click="setPath(slide)" ng-repeat="slide in slides" ng-class="{'active': $index==activeSlideIndex}" class="slideshow-text">
                <a ng-show="!slide.image && !slide.staticLink" ng-class="{'active': $index==activeSlideIndex}" ng-href="/#!/products/{{slide.product.id}}">
                    <h1 ng-class="fadeclass">{{slide.title[langUtils.currentLang]}}</h1>
                    <h5>{{slide.text[langUtils.currentLang]}}</h5>    
                </a>
                <a ng-class="{'active': $index==activeSlideIndex}" ng-href="{{slide.staticLink}}" class="sector-picture" ng-show="!!slide.image || !!slide.staticLink" target="_blank">
                    <h1 ng-class="fadeclass">{{slide.title[langUtils.currentLang]}}</h1>
                    <h5>{{slide.text[langUtils.currentLang]}}</h5>
                </a>
            </div>
        </div>
    </article>

    <article class="twelve twitter left quotation" astyle="height: 100px">
        <div class="icon">
            <a target="blank_" href="https://twitter.com/MBfix"><img src="content/images/twitter.png" width="40" alt="twitter" /></a>
        </div>
        <blockquote class="tweet nine left">
            <a target="_blank" href="https://twitter.com/MBfix"><h3 ng-class='tweetClass'>@MBfix</h3></a>
            <a ng-repeat="twit in twits" class="twit-text" ng-class="{'active': $index==activeTwitIndex}" target="_blank" ng-href="https://twitter.com/MBfix/status/{{twit.id_str}}"><h5 ng-class='tweetClass'>{{twit.text}}</h5></a>
        </blockquote>
    </article>

    <article class="twelve linkedin left quotation reclamo" astyle="height: 100px">
        <blockquote class="link nine left blockquote">
            <!-- <h3>Linkedin_1</h3> -->
            <h5><strong>{{info[0].lastComplaint | daysSince}}</strong> {{'_GIORNI_RECLAMO' | translate}}</h5>
        </blockquote>
    </article>

    <article class="twfour linkedin left quotation safe quote" astyle="height: 100px">
        <blockquote>
            <h5 ng-bind-html="'_HOME_QUOTE' | translate:info[0]"></h5>
        </blockquote>
    </article>


    <div id="home-bottom-links">
        <a href="/#!/video">
            <article class="eight left button play-button">
                <img src="content/images/play.png" width="100" alt="play" />
                <h1>{{'_HOME_VIDEOS' | translate }}</h1>
                <div class="bg-overlay"></div>
            </article>
        </a>
        <a href="/#!/catalogue">
            <article class="eight left button download-button">
                <img src="content/images/download.png" width="100" alt="download" />
                <h1>Download</h1>
                <div class="bg-overlay"></div>
            </article>
        </a>
        <a href="/#!/contacts">
            <article class="eight left button contacts-button">
                <img src="content/images/contacts.png" width="100" alt="contacts" />
                <h1>{{ '_HOME_CONTACTS' | translate }}</h1>
                <div class="bg-overlay"></div>
            </article>
        </a>
    </div>  

    <div class="row"></div>
    
</section>
