<section id="product">
	<div ng-include="'/layout/products_sidebar.html'"></div>

	<div id="product-content">
		<h1><a ng-href="/#!/category/{{product.subcategory.category.id}}">{{product.subcategory.category.name[langUtils.currentLang]}}</a> / {{product.name}}</h1>

		<img ng-src="{{baseUrlAssets}}{{product.image}}" alt="">

		<span class="product-description">{{product.description[langUtils.currentLang]}}</span>

		<div class="pdf-list">
			<!-- <div class="pdf-item"> -->
				<a ng-show="pdf.lang==langUtils.currentLang" target="_blank" ng-repeat="pdf in product.pdf" ng-href="{{baseUrlAssets}}{{pdf.link}}" class="pdf">
					<div class="product-image-container">
						<i class="glyphicon glyphicon-file"></i>
						<img ng-src="{{baseUrlAssets}}{{pdf.image}}" alt="">
					</div>
					<!-- <span class="pdf-name">{{pdf.name}}</span> -->
				</a>
			<!-- </div> -->
		</div>

		<div class="video-container" ng-show="!!product.videoUrl">
			<iframe ng-src="{{product.videoUrl}}" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>


	</div>


</section>