<div id="services-page">
	
	<div class="container" ng-bind-html="'_SERVIZI_3D' | translate"></div>
	<img src="/content/images/services/Progettazione 3D.jpg" alt="">

	<div class="container" ng-bind-html="'_SERVIZI_OFFICINA_STAMPI' | translate"></div>
	<img src="/content/images/services/Officina Stampi.jpg" alt="">

	<div class="container" ng-bind-html="'_SERVIZI_PLASTICA' | translate"></div>
	<img src="/content/images/services/stampaggio plastica.jpg" alt="">

	<div class="container" ng-bind-html="'_SERVIZI_LAMIERA' | translate"></div>
	<img src="/content/images/services/stampaggio lamiera.jpg" alt="">

	<div class="container" ng-bind-html="'_SERVIZI_CONFEZIONAMENTO' | translate"></div>
	<img src="/content/images/services/confezionamento.jpg" alt="">

	<div class="container" ng-bind-html="'_SERVIZI_STAFFE' | translate"></div>
	<img src="/content/images/services/linea staffe.jpg" alt="">

	<div class="container" ng-bind-html="'_SERVIZI_RIPRESE' | translate"></div>
	<img src="/content/images/services/riprese.jpg" alt="">

</div>