<section id="vdi-matrix-page">

    <div id="vdi-matrix-description">
        <div class="vdi-matrix-title" ng-bind-html="'_VDI_MATRIX_HEADER' | translate"></div>
    </div><!-- #vdi-description -->
    <div id="loading" ng-show="!showForm">
        <div class="animation"><span class="line"></span></div>
        <h3>Loading...</h3>
        <div class="animation"><span class="line"></span></div>
    </div>

    <form id="vdi-matrix" name="vdi-matrix-form" ng-show="showForm">
        <div class="field">
            <!-- <label>Kind of Radiator</label> -->
            <select ng-model="heatingSystemSelected"
            ng-options="hs as hs.value[langUtils.currentLang] for hs in heatingSystems"
            ng-change="filterHeatingSystems(); filterMeasurementSystems(); searchVDI();"></select>
        </div>
        <div class="field" ng-model="showMountingSystemSelector" ng-show="showMountingSystemSelector">
            <!-- <label>Mounting system</label> -->
            <select ng-model="mountingSystemSelected"
            ng-options="ms as ms.value[langUtils.currentLang] for ms in mountingSystems"
            ng-change="filterMountingSystems(); filterMeasurementSystems(); searchVDI();"></select>
        </div>
        <div ng-model="showMeasurementSystemFields" ng-show="showMeasurementSystemFields">
            <div ng-repeat="measurementSystem in measurementSystems">
                <div class="field" ng-show="measurementSystemSelected.id == measurementSystem.id">
                    <p ng-repeat="field in measurementSystem.fields">
                        <label ng-bind-html="field[langUtils.currentLang]"></label>
                        <input ng-if="field.inputType != 'dropdown'" 
                        ng-change="searchVDI()" 
                        ng-model="searchFields[field['scope']]" 
                        type="number" 
                        />
                        <select ng-if="field.inputType != 'number'" 
                        ng-change="searchVDI()" 
                        ng-model="searchFields[field['scope']]"
                        ng-options="option for option in optionsRange"
                        class="dropdown"
                        ></select>
                        <span class="clear">&nbsp;</span>
                    </p>
                </div>
            </div>
        </div>
    </form>

    <ul id="vdi-results" ng-model="nothingFound" ng-hide="nothingFound">
        <li ng-repeat="searchResult in searchResults">
            <div class="product-preview">
                <a href="/#!/products/{{searchResult[3]['id']}}">
                    <img ng-src="{{baseUrlAssets}}{{searchResult[3]['image']}}" />
                </a>
            </div> <!-- .product-preview -->
            <div class="product-description">
                <h3><a href="/#!/products/{{searchResult[3]['id']}}" target="_blank">{{searchResult[0]}}</a></h3>
                <h4>{{vdiMatrixDescription.brackets[langUtils.currentLang]}}<strong>{{searchResult[2]}}</strong></h4>
                <h4 class="related-products" ng-hide="!searchResult[4]">
                    {{vdiMatrixDescription.related[langUtils.currentLang]}}
                    <span ng-repeat="relatedProduct in searchResult[4]">
                        <strong>
                            <a href="/#!/products/{{bindVdiProduct(relatedProduct)['id']}}" target="_blank">{{relatedProduct}}</a>
                        </strong>
                    </span>
                    <img src="/content/images/warning-small.jpg" />
                </h4>
                <p class="separator">&nbsp;</p>
                <p>{{searchResult[3]["description"][langUtils.currentLang]}}</p>
            </div> <!-- .product-description -->
            <div class="clear"></div>
        </li>
    </ul>
    <ul id="vdi-no-results" ng-model="nothingFound" ng-hide="!nothingFound">
        <li>
            <h3>{{nothingFoundMessage[langUtils.currentLang]}}</h3>
        </li>
    </ul>


</section>