<section id="vdi-page">
	<!-- <div ng-include="'/layout/products_sidebar.html'"></div> -->

<!-- 	<div id="vdi-description">
		<h2>Introduction</h2>

		<p>This guideline takes into account the normal and real use of radiators and is intended to assist planners and executing contractors in selecting and dimensioningradiator brackets or fastening systems consistent with the respective requirements class.</p>

		<h2>Scope</h2> 

		<p>This guidelines applies to the selection and dimensioning of brackets or fastening systems for floor mounting (pedestals) and wall mounting (wall brackets, sleeve anchors) of radiators installed for space heating purposes, e. g. in residential, commercial and office buildings. Examples of radiators, as defined by this guideline are flat-fronted radiators, heating wall panels, convectors, designer radiators (heated towel rails, heated clothes racks, etc.) and tubular radiators, irrespective of whether they are connected to central heating systems or operated autonomously, e. g. electrically. The guideline also applies, with some limitations, to radiator constructions where special installation situations such as panellings, niches or suchlike reduce or prevent the application of variable actions (additional loads) due to foreseeable misuse, or where addon parts fail when variable actions (additional loads) are applied. In these cases, only the actions actually applied on the radiator shall be assumed. Fastening systems of other heating devices such as electric direct heaters, which are not dealt with in this guideline, can be dimensioned analogously. The guideline is not applicable to mobile radiators and radiators in mobile rooms. Furthermore, underfloor convectors and radiant ceiling panels or similar heating panels are excluded from the scope of this guideline.In the case of special applications such as facade heating panels, heated banisters, radiators with an unusual distance from floor to bottom edge (e. g. 1 m), additional requirements resulting from the special application may have to be considered. Radiators may only be fastened to floors having suitable load-bearing capacity. Professional installation of radiators and their fastening systems is not dealt with in this guideline. In dimensioning radiator fasteners, it is assumed that they are mounted properly and professionally and that this condition is reliably maintained throughout the service life. The purpose of this guideline is to provide companies and persons charged with planning and executing heating systems with a code of practice for the selection and dimensioning of radiator brackets and fastening systems. The loads resulting from normal use and from foreseeable misuse are taken into account. The calculated values can be used to specify minimum requirements to be met by fasteners for the respective application so as to ensure a high degree of reliability and safety in using the fasteners mentioned in the scope of this guideline.  The system underlying the calculation relies on empirical values and rules of technology as well as regulations. The forces of variable load actions mentioned in subsequent sections are based on extensive trials.</p>

	</div> -->

	<div id="vdi-description2">
		<div ng-bind-html="'_VDI_FIRST_SECTION' | translate"></div>
		

		<div class="row vdi-images">
			<img src="/content/images/vdi/bike.jpg" alt="" class="col-md-3">
			<img src="/content/images/vdi/break.jpg" alt="" class="col-md-3">
			<img src="/content/images/vdi/climb.jpg" alt="" class="col-md-3">
			<img src="/content/images/vdi/skate.jpg" alt="" class="col-md-3">
			<img src="/content/images/vdi/logo.png" alt="" class="vdi-logo">
		</div>

		<div class="row"></div>

		<div ng-bind-html="'_VDI_SECOND_SECTION' | translate"></div>

		<div class="container">
			<iframe src="//player.vimeo.com/video/65558754" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>

</section>