<section id="video-page">
	

	<iframe ng-src="{{videos[activeVideoIndex].url}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

	<div id="other-videos">

		<div ng-repeat="video in videos" ng-hide="$index==activeVideoIndex" class="col-md-4 video">
			<div class="image-container">
				<a ng-href="/#!/video/{{video.id}}"><img ng-src="{{video.thumbnail_large}}" alt=""></a>
			</div>
			<span>{{video.title}}</span>
		</div>
		
	</div>

</section>