<section id="vision-page">
	<div id="mission" class="row">
		<div id="mission-description" class="col-md-9" ng-bind-html="'_MISSION_TEXT' | translate"></div>
		<div id="mission-title" class="col-md-3">
			<h2>Mission</h2>
		</div>
	</div>

	<div class="separator"></div>

	<div id="vision" class="row">
		<div id="vision-title" class="col-md-3">
			<h2>Vision</h2>
		</div>
		<div id="vision-description" class="col-md-9" ng-bind-html="'_VISION_TEXT' | translate"></div>
	</div>

	<img src="/content/images/VisionMission.png">
</section>